[2021-05-14 07:57] #3382 closed

[2021-05-14 08:10] eugenegoncharuk commented on #2041
There are a couple of simple wildcard DNS services for any IP Address, like nip.io.
We could generate a certificate with Lets Encrypt for <you private IP>.nip.io
And https://<you private IP>.nip.io:4449 would route you to your local IP address Node UI web.

[2021-05-14 14:52] #3332 closed

[2021-05-14 14:52] #3334 closed

[2021-05-14 21:15] lollapalooza1973 opened #3391 "Wallet address is missing + node UI does not work after migration Ubuntu to Raspberry"
Hi all,
I have migrated my node from Ubuntu to Raspberry.
What I basically did was to copy the directory /var/lib/mysterium-node (with all subdirectories and files) from Ubuntu to Raspberry.

By checking the status on my.mysterium.network I see the node is online, but there's an orange exclamation mark just by the Residential/Global bounty section. When I click on there, I read: "Ineligibility rea

[2021-05-15 10:02] tomasmik commented on #3391
Hi, such issues can be resolved with the help of the community and our support faster over in our discord server: https://discord.gg/UM9RuCmMTd

Some troubleshooting steps you can try are:
* [Check if your node is healthy](https://docs.mysterium.network/node-runners/setup/linux/#service-health)
* Try to access the node ui using incognito or delete your cookies and cache.
* Check if your node ident

[2021-05-15 10:02] #3391 closed

[2021-05-16 10:30] ElDavoo opened #3392 "Can't connect to nodes under firewall"
Hi,
I'm not sure where I should open this issue, but here we go. Under a particular firewall I can't connect to any node. Only discovery works.
I suspect that this happens because the firewall blocks outgoing connection to many ports, for example 51820. I believe this is called "port whitelist".
A VPN should be able to get around as many firewalls as it can right? :)
(FYI, many commercial VPNs do

[2021-05-16 23:11] MDgit897 commented on #3386
Hello, thnx for answers, I appreciate, I will check the chain, I did not know Myst is run on different chains,

about the 3rd, what i meant was, to be able to use the wallet in the android app not just to hold, but also to be able to send to other wallets ? (like other android myst vpn apps with wallets)

[2021-05-17 03:40] mdomasevicius opened #3394 "Monitoring agent should listen for proposals v2 topic"

[2021-05-17 07:04] tomasmik commented on #3386
You can already send and receive MYST to wallets like Metamask. As far as I know the MYST in your dVPN app account balance is only meant to be used as a way to pay for service. To store, trade and transact MYST, you can a crypto wallet of your choice.

[2021-05-17 07:42] #3387 closed

[2021-05-17 10:04] benv666 commented on #3373
Seeing the same thing here while running the latest docker image (mysteriumnetwork/myst:latest):
![image](https://user-images.githubusercontent.com/165034/118471057-9eb13600-b707-11eb-9c2a-0f72b1d096a7.png)

[code]
Container has been deleted and recreated, no effect.

[2021-05-17 11:52] cvl opened #3398 "Users are getting disconnected constantly"
**Describe the bug**
Multiple users report they get disconnected / or stops working constantly. Started happening few days ago.

Perhaps a hint of possible error: "Failed to send exchange message error="peer error: could not unmarshal exchange message proto: proto: cannot parse invalid wire-format data""

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6493542/mysterium-n

[2021-05-17 11:58] vkuznecovas commented on #3398
Have these reports occured on Friday evening-night?

[2021-05-17 12:01] cvl commented on #3398
The first report was on 05-09.

[2021-05-17 12:31] cvl commented on #3398
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6493746/mysterium-node.log)

Logs from another user.

[2021-05-17 16:12] AdineVikash commented on #1813
Yep, it's awesome!

[2021-05-17 23:36] #3170 closed

[2021-05-18 04:46] #3394 closed

[2021-05-18 04:47] #3320 closed

[2021-05-18 04:48] soffokl commented on #3337
we are not using this domain anymore

[2021-05-18 04:48] #3337 closed

[2021-05-18 05:17] #3188 closed

[2021-05-18 05:18] #3246 closed

[2021-05-18 05:20] soffokl commented on #2491
We already have this metrics.

[2021-05-18 05:20] #2491 closed

[2021-05-18 05:22] soffokl opened #3401 "Make bandwidth limit configurable"

[2021-05-18 05:30] soffokl opened #3402 "Android sessions are too short"
Session gets interrupted after a few minutes if the app is not active.

[2021-05-18 06:45] #3314 closed

[2021-05-18 06:47] chompomonim opened #3403 "Test 0.47 rc release candidate"

[2021-05-18 07:02] #3381 closed

[2021-05-18 10:22] etherunit opened #3405 "Tokens earned stuck at 141"
https://testnet2-grafana.mysterium.network/d/n3xeQlgMz/provider?orgId=1&var-provider=0xc80f98a08fc5d20c78dcb197f0eab1cf3fdd825b&from=now-30d&to=now

[2021-05-18 10:26] #3321 closed

[2021-05-18 10:28] #3015 closed

[2021-05-18 10:33] chompomonim opened #3406 "More efficient bounty payouts"
Our bounty payouts are now very inefficient. We're doing a lot of transaction, they take a lot of time and costs a lot of money. Doing payouts in bulk would solve most of those problems.

As part of affiliate program we have build rewarder smart contracts and we could start using that system to make bounty payouts more efficient.

MMN is exposing api with information about bounty getters, we need

[2021-05-18 10:44] eugenegoncharuk opened #3407 "Adapt MMN to use new Discovery"

[2021-05-18 11:34] #3390 closed

[2021-05-18 12:08] tomasmik commented on #3386
Im closing the issue, if you have any more questions, feel free to open another issue or get in touch with and community on discord: https://discord.gg/VcCFHXCRB7

[2021-05-18 12:08] #3386 closed

[2021-05-19 03:46] adpandhare commented on #3373
Upgraded to version 0.46.1 still showing version 0.44.0

Node number 0x5510c92dc0fb9d5bf88149a55c568e1be24d7309

![MMN](https://user-images.githubusercontent.com/84430621/118753055-2abf7c80-b832-11eb-90cf-d96a8784d979.PNG)

[2021-05-19 07:59] tomasmik commented on #3405
Should be fixed as https://github.com/mysteriumnetwork/transactor/issues/206 was released.

[2021-05-19 07:59] #3405 closed

[2021-05-19 08:47] axelrindle commented on #3328
I built one myself, please see https://github.com/mysteriumnetwork/node/discussions/3380

[2021-05-19 16:31] cvl commented on #3398
One more report with logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6510358/mysterium-node.log)

[2021-05-20 02:46] soffokl commented on #3329
Unfortunately, we are supporting Windows 10 only. So this issue could be related to the incompatible version.
The problems happened on the video could be also related to the network configuration. I can recommend to try version 0.47.0-rc2 or higher, we added improvements that can help with some network setups.

[2021-05-20 02:46] #3329 closed

[2021-05-20 03:12] soffokl commented on #3392
Unfortunately, the current implementation works using UDP ports, we cannot use TCP ports like 443.
We are planning to add some more transport protocols including TCP-based, but it will take some time.

We cannot fully pass all firewalls if it blocks UDP traffic. But we are constantly trying to add more and more ways to bypass it.
With the latest 0.47.0-rc2 version we added another approach for it.

[2021-05-20 03:17] soffokl commented on #3341
@cvl this is enabled by default in the 0.47.0-rc2 node for mobile. Could you try and provide some feedback?

[2021-05-20 07:07] cvl commented on #3341
Will do today.

Is there a way to disable/enable it? Not all users want that (I guess).

[2021-05-20 08:48] cvl commented on #3341
Doesn't run now:

com.beust.klaxon.KlaxonException: Unable to instantiate ProposalItem:No argument provided for a required parameter: parameter #0 providerID of fun <init>(kotlin.String, kotlin.String, kotlin.String, kotlin.Int, kotlin.String, kotlin.Boolean, network.portals.service.core.ProposalPaymentMethod): network.portals.service.core.ProposalItem
    No argument provided for a required param

[2021-05-20 08:57] cvl opened #3412 "Ensure that all changes affecting app devs are well documented for each release"
Until this moment most of changes affecting app devs are unreported, and are found accidentally. This means that customers are frustrated, requests for refunds are common, reputation is low.

I'd suggest to report all changes affecting app devs.
This include but are not limited to:
- changes to how API behaves
- changes in pricing, filters and the like
- changes in code behavior (esp. corner cases

[2021-05-20 10:17] cvl opened #3413 "[android, bug] Can't register identity"
**Describe the bug**
Two new users (already refunded) couldn't register identity.

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6515014/mysterium-node.log)
[mysterium-node (1).log](https://github.com/mysteriumnetwork/node/files/6515016/mysterium-node.1.log)

**Environment (please complete the following information):**
 - Node version: 0.42.1
 - OS: Android

[2021-05-20 10:20] vkuznecovas commented on #3413
We had an outage on transactor. It's working now.

For future use, you might consider migrating to offchain balances, the registration will then be redundant.

[2021-05-20 10:20] #3413 closed

[2021-05-20 10:23] cvl commented on #3413
:(
Bad timing, lost 2 customers :(

[2021-05-20 10:24] cvl commented on #3413
How can I migrate to offchain balances? What is this?

[2021-05-20 10:24] tomasmik commented on #3413
The new pilvytis offchain balances. If you're offchain, you dont nee to register and you dont need to have real balance.

It's the new v2 endpoints.

[2021-05-20 14:56] NebNitram commented on #3373
I have upgraded also.. with exactly the same issue
Node: 0x8ebeb4e76767d7dbfdd39a8115ec32d3dfb06fb6
![Screen Shot 2021-05-20 at 21 53 42](https://user-images.githubusercontent.com/84519158/119001433-2a4fee80-b9b6-11eb-8bf9-5df227da6542.png)

[2021-05-21 02:45] soffokl commented on #3373
@benv666 @adpandhare @NebNitram @etherunit
Could you please try to go to the `nodeUI settings` and set `MMN integration API Key` once again?
Looks like it solved the problem for me.
![image](https://user-images.githubusercontent.com/8612618/119074467-e9d18e80-ba10-11eb-86f3-6c3401dcd4c1.png)

[2021-05-21 04:36] adpandhare commented on #3373
Thanks @soffokl, It worked for me too!

[2021-05-21 08:59] cvl opened #3415 "[urgent] multiple users can't register identity, or connection problems"
**Describe the bug**
3+ users reported same or similar errors.
Registration is taking place forever or says "can't get app to work".

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6521336/mysterium-node.log)
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6521339/mysterium-node.log)

Note:
Those identities were added to pilvytis right after registrat

[2021-05-21 09:03] cvl commented on #3415
One more, android this time:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6521386/mysterium-node.log)

CC: @vkuznecovas

[2021-05-21 09:50] tomasmik commented on #3415
I've turned off adding to pilvytis for now. Is this related?

I see no offchain balances added from your side in pilvytis, so I assume you've added them to the old V1 endpoints. In that case pilvytis has absolutely nothing to do with this.

The past few days we've had numerous issues with registrations because of a few transaction bugs + insane jump in gas price in Goerli. Those issues are mostly

[2021-05-21 09:52] chompomonim opened #3416 "Testing v1.0.0-rc of mobile app"
We're going to release our Android app soon. While it is in release candidate mode, we'd like to collect all possible bug reports. Please add comment in this issue with your findings.

[2021-05-21 10:01] cvl commented on #3415
Anything I can do on my side? I'm losing customers by hour.

[2021-05-21 10:30] cvl commented on #3415
I've just tried to register failed to register identity:
- On first app launch I got
"2021-05-21T13:26:58.089 ERR source/identity/registry/registry_contract.go:113 > failed to contact hermes to get new registration status error="could not request consumer data from hermes: internal error" status=Unregistered"

Then on second launch, it worked (although still throws 2021-05-21T13:28:04.506 ERR sour

[2021-05-21 10:31] cvl commented on #3415
Something strange is happening.
App doesn't get into connecting state, says
2021-05-21T13:30:36.459 DBG source/eventbus/event_bus.go:81          > Published topic="connection_events" event={ServiceType:wireguard ProviderID:0x2bd49cae49ffe35a0acd8dbbe47d1d18c42ab4ba ConsumerID:0x9ceac2f7218da1e9af92ef835ca781f25a592fba HermesID:0xD5d2f5729D4581dfacEBedF46C7014DeFda43585 Error: Stage:registration_in

[2021-05-21 10:32] cvl commented on #3415
Connection lost after 30 seconds

2021-05-21T13:31:49.366 DBG source/config/config.go:196              > Returning default value default-currency:MYSTT
2021-05-21T13:31:49.366 INF source/cmd/di.go:932                     > Reconnecting HTTP clients due to VPN connection state change
2021-05-21T13:31:49.366 INF source/core/state/state.go:404           > Session ID: , state: NotConnected, duration:

[2021-05-21 11:10] eugenegoncharuk commented on #3416
After installation, I see 0.000 Myst tokens in my account.
Checked 2 hours later - same.

[2021-05-21 11:13] tomasmik commented on #3416
Checked 2 hours later - same.

This was probably due to the issue we've had with transactor. I assume you've failed to register, not sure if app sends a registration request more than once now. Would be useful to see logs.

[2021-05-21 11:15] cvl commented on #3415
2021-05-21T14:10:12.557 ERR source/identity/registry/registry_contract.go:113 > failed to contact hermes to get new registration status error="could not request consumer data from hermes: could not unmarshal error body: invalid character 'B' after top-level value" status=Unregistered

[2021-05-21 11:20] Peter-SovietSquirrel commented on #3403
Upgraded working node to 0.47.0-RC3, upon reboot MMN reports Offline with no active services.

- OS: Raspbian Buster
- Node version 0.47.0-RC3

[newlog.txt](https://github.com/mysteriumnetwork/node/files/6522124/newlog.txt)

[2021-05-21 12:04] chompomonim opened #3417 "Visualise list of upcoming payouts"
- [x] Visualize current payout list in Universe (get info from MMN via `payouts` endpoint).
- [x] Universe should also visualize custody holdings and how much tokens are missing.
  - [x] To do this you can use the stats endpoint to display all tracked balances and add a filter by name: https://testnet2-pilvytis.mysterium.network/swagger/index.html#/stats/get_v1_stats_balances (custody has it's own

[2021-05-21 12:17] chompomonim commented on #3373
Closing issue as it is most probably fixed. Please open new one if it will repeat.

[2021-05-21 12:17] #3373 closed

[2021-05-21 12:29] chompomonim opened #3418 "Make payouts in batches using `payout` action in Custody smart contract"
There should be a button in universe to do payout for users (in pack of 70? addresses per tx) by using `custody` smart contract.

- [x] Prepare transactor to be able calling `payout` function in `Custody` smart contract. Add as many beneficiaries as possible, but try not to use more than 3M gas in one tx.
- [x] Transactor should expose secure endpoint for `payout` calls.
- [ ] Make this call to us

[2021-05-21 12:31] chompomonim opened #3419 "Report payout status to MMN"
After payout is done we should report MMN (via update endpoint) so it would correctly show users their payout status.

[2021-05-21 12:40] chompomonim opened #3420 "Allow manual bounty claming"
After initial bounty payout refactoring will be done (#3417 #3418 #319), we may start implementing more advanced payout features which will give users much more flexible payout options (e.g. weekly bounty payouts, manual claiming, choosing between Ethereum and Polygon).

- [ ] There should be automated action which on fist day of month would generate merkle root and send it to blockchain (using `R

[2021-05-22 09:49] ElDavoo commented on #3403
same

[2021-05-22 09:49] ElDavoo commented on #3392
what about using udp 443, it will get more used in the future because of http3?

[2021-05-22 20:31] hyvamiesh commented on #3403
also updated node to 0.47.0-RC3.
MMn offline and no active services.
Prices were also reset to 0

[2021-05-23 15:14] eugenegoncharuk commented on #3416
Tested now. 8.022 MYSTs are there.

[2021-05-23 20:38] eugenegoncharuk commented on #3416
Detected Bug.
Steps to reproduce:
- connect to one of the providers
- go surfing over the internet
- go back to Mysterium App
- tap on "Select another node"
- waiting until it connects
- crash happens

Expected:
App rejoins to another provider successfully.

[2021-05-23 20:43] eugenegoncharuk commented on #3416
Detected Bug with languages.
Steps to reproduce:
- open App
- go and change language to RU
- interface still in English

Expected:
Interface language changes successfully.

[2021-05-24 03:14] soffokl commented on #3392
Unfortunately, it's not enough to use only one port. We are using multiple ports to establish sessions in various restricted environments. And using a single port makes it easy to block by any organization.

[2021-05-24 10:48] chompomonim opened #3423 "Fix service prices in CLI"
At the moment users can see list of active proposals but they can't see service price in that list. It would be good if CLI would show service price next to each proposal in that list, or at least would have command to fetch chosen node pricing on demand.

[2021-05-24 13:44] tomasmik opened #3424 "Sessions longer than 24 should not reset timer"
Under the "Latest Sessions" of the Node UI, that if a session goes >24 hours, the time rolls back over to 0. I'd be nice if this kept incrementing hours instead of resetting back to 00:00:00

[2021-05-24 13:51] tomasmik commented on #3423
You can do it if you use the "new, user friendly" CLI commands. `myst connection proposals` return this data.
Though with the discovery upgrades it seems like it was broken and returns this kinda of data:
[code]

It is also being removed here: https://github.com/mysteriumnetwork/node/pull/3397/files#diff-089de139d004617f18bb555f00593f5a6b3c8f3d19e56e3bc3aac993344c5bb4L28

[2021-05-24 15:07] chompomonim commented on #3416
It would be good instead of `incorrect password` to show `please use at least 12 symbols for your password`.

[2021-05-24 15:43] cvl opened #3425 "Connection state not updated properly when no connection"
**Describe the bug**
- Turn off internet connection & try to connect -> state stays "Disconnected". Yet it actually attempts to connect.
- Turn the connection back on, after a while it changes from Disconnected -> Connected.

**Expected behavior**
Node should change the state to Connecting once the connecting attempt occurs.

**Environment (please complete the following information):**
 - Node ver

[2021-05-24 17:55] LorenzKa commented on #3398
I also constantly have this problem, cant stay connected for more than 5 Minutes.

[2021-05-24 21:43] chompomonim commented on #3423
So, should we simply fix this place?

[2021-05-25 06:04] etherunit opened #3426 "node_type is N/A in rc3"
**Describe the bug**

0x9bfaf5f82b29d749444c9e76e5d0bceb9bf4d90c,
Node version: 0.47.0-rc3
NODE_TYPE: N/A

0xa20504db0b6790715509a04aa70a2e0459c0e6e6
Node version: 0.46.1
NODE_TYPE: Hosting

Both running on a **DigitalOcean cloud**.

**Screenshots**
<img width="679" alt="Screenshot 2021-05-25 at 08 14 04" src="https://user-images.githubusercontent.com/60128746/119446981-ea7f6300-bd37-11eb-9cb7-3f2

[2021-05-25 06:37] cvl commented on #3341
@soffokl need your hints on this.

[2021-05-25 06:42] cvl commented on #3169
How's it going with this?

I saw there were some attempts to do this, yet it's not clear what's the current status, or how to use any of this kill-switch/reconnect features.

Is there any single dev I could ask the questions and get concrete answers?

This is probably the most critical feature, so communication and transparency would help.

[2021-05-25 06:42] soffokl commented on #3341
@cvl there is a number of changes in the 0.47.0 version including killswitch. The discovery part was changed too.
Unfortunately, I cannot say what needs to be changed on the mobile part to make it work for you.

[2021-05-25 07:19] cvl opened #3428 "Reopening questions regarding kill-switch/reconnect functionality"
As per https://github.com/mysteriumnetwork/node/issues/3168

@soffokl

I can see that Android lib and mysterium-vpn-js has setDisableKillSwitch amongst connect options.
It feels like kill switch should be enabled by default (unless I set "disable kill switch" to true).
Is this something I should use?

As per your suggested implementation for Android:

- Where is this config? I can't find it anywhe

[2021-05-25 07:57] ElDavoo commented on #3403
now it gives me test failed

[2021-05-25 14:46] eugenegoncharuk opened #3430 "Persistence volumes replication for Rancher K8s"
Need to check options for persistence volumes usage on Hetzner provisioned VMs. Replication is needed in factor of 3.

[2021-05-26 01:52] #3384 closed

[2021-05-26 04:52] soffokl commented on #3406
is it a duplicate of the https://github.com/mysteriumnetwork/my.mysterium.network/issues/62 ?

[2021-05-26 07:45] chompomonim commented on #3169
I think kill switch is enabled by default for mobile since 0.47.0-rc3. @soffokl could you clarify on that? Also could you provide minimal instructions how to enable it on desktop?

[2021-05-26 07:56] cvl commented on #3169
Providing simple manual would take few minutes.
- How to enable/disable kill-switch for Android, Desktop. Disable is also important, as it's an optional feature (i.e. user can decide to turn it off/on).

As mentioned in another issue, rc-3 breaks Android atm, so this needs to be addressed to be usable.

[2021-05-26 08:12] eugenegoncharuk commented on #3416
[RC3]
Detected Bug.
Steps to reproduce:

- connect to one of the providers
- go surfing over the internet
- disable Wi-fi
- go back to Mysterium App
- it still show "Connected"

Expected:
The same message should appear indicating that the session has been dropped because of the bad network.

[2021-05-26 08:24] eugenegoncharuk commented on #3416
[RC3]
Detected Bug.
Steps to reproduce:

- connect to one of the Node provider
- go surfing over the internet
- disable Wi-fi
- enable wi-fi
- no internet available for surfing through the same Node provider

Expected:
- after Wi-fi enabled internet should be available through the same Node provider

[2021-05-26 08:27] eugenegoncharuk commented on #3416
[RC3]
Detected Bug.
Steps to reproduce:
- go to Mysterium App
- tap on "Account"
- try to top-up in MYST
- error is shown "Payment server doesn't work"

Expected:

- top-up in MYST is working

[2021-05-26 09:48] #3426 closed

[2021-05-27 12:16] chompomonim commented on #3416
**Issues found in v1.0.0-rc3:**

- [ ] `Incorrect password` message should be changed to: `Password is too short`.

<img src="https://user-images.githubusercontent.com/153896/119822602-83f77200-befc-11eb-97ef-29ac249db9a5.png" width="250">

- [ ] We have view with filters, lets use it for "All nodes" screen.

<img src="https://user-images.githubusercontent.com/153896/119822998-f9fbd900-befc-11eb-8

[2021-05-28 03:39] chompomonim commented on #3403
Just installed 0.47.0-rc5, here are two bugs founds:

- [ ] service price is set to 0
![Screenshot from 2021-05-28 06-34-59](https://user-images.githubusercontent.com/153896/119926110-691a1180-bf7f-11eb-913c-e935e712e017.png)

- [ ] the node is not visible in mobile app anymore :/

[2021-05-28 06:11] #1812 closed

[2021-05-28 06:14] tadaskay opened #3434 "Upgrade old mobile app to node 0.47"

[2021-05-28 06:31] #3419 closed

[2021-05-28 07:55] tadaskay commented on #3434
Cancelled

[2021-05-28 07:55] #3434 closed

[2021-05-28 10:16] mdomasevicius commented on #3403
@chompomonim I am not able to reproduce this, I would need your `.mysterium` config toml files with this issue, it might be super old prices in the settings, anyway the workaround is to edit prices via "settings" so not sure if this is critical.

[2021-05-28 10:51] cvl opened #3436 "Limits should be set for usage, not toppup for offchain identities"
I assume that at this moment limits are set for topup amount even for offchain identities. Yet, each new identity is topped up with virtual mysts which likely will never be used. This can block user even if he didn't have high usage.
For instance, user registers 10 devices, or reinstalls few times (creating new identity) - if identity is topped up with few virtual mysts, this can easily trigger th

[2021-05-29 22:12] Twizzer commented on #3403
You can't change it in settings, even on new fresh installs

[2021-05-30 07:12] NGUYENAN9999 commented on #3008
Dear Support Team,

This is An from Vietnam.

 I  need your help to support me for the MATIC deposit issues.

I have withdraw 1398.66 MATIC from MXC Exchange to my wallet address on Binance Exchange as below:

My receipt wallet Addres(ERC20)

0xcfefea2224871ab5e79caf354172e77e1e32ccde

Txid：

0x7d352c0f10c45ebb61a2f1abc0d82b1a2fbb3a487df9b6d8ee49e61ab65961bf

Transaction details:
https://explorer-

[2021-05-30 10:05] ElDavoo commented on #3403
now the node is online, but nobody connects to it. 0.47.0-rc5 . I can't see it in the desktop app.

[2021-05-30 18:01] Twizzer commented on #3403
This is a known issue with 0.47.0-RC5 I had this issue and I wiped and started over.

back on 0.42.6-RC2 and everything is working perfectly.

[2021-05-31 04:57] soffokl opened #3437 "Do not execute Linux commands on mobile"
**Describe the bug**
Mobile app tries to use Linux commands

[code]

[2021-05-31 08:12] tomasmik commented on #3415
As this was mostly probably due to the transactor/hermes outages and you're now moving to offchain I will close this.

[2021-05-31 08:12] #3415 closed

[2021-05-31 15:31] enydrueda commented on #2937
Hi, I think I have a similar problem running a docker node in my Mac, the node throw de error `2021-05-31T15:17:18.335 ERR session/pingpong/consumer_balance_tracker.go:144 > Could not recover Grand Total Promised error="could not request consumer data from hermes: internal error"`, are there anything I can do?. Thanks!

[2021-05-31 15:37] chompomonim commented on #2937
@enydrueda recent problems were caused by different issue and are already solved.

[2021-05-31 17:53] chompomonim commented on #3403
@ElDavoo today we have released [4.1.1](https://github.com/mysteriumnetwork/mysterium-vpn-desktop/releases/tag/4.1.1) version of desktop app, could you check if this version can see your 0.47.0-rc5 node?

[2021-05-31 18:11] isaackielma opened #3440 "Connection state not updated correctly. Spam like emails being sent out and other visual bugs."
**Describe the bug**

Multiple users report they get notified their nodes are disconnected even when they are not/ or nodes periodically stop working for a short period of time. Started happening few weeks ago. Possibly, an issue related to the changes in mmn and introducing of new discovery.

Perhaps a hint of possible error: "Failed to send exchange message error="peer error: could not unmarshal

[2021-05-31 21:43] ElDavoo commented on #3403
yay!

[2021-05-31 21:44] ElDavoo commented on #3392
Will it work if I set a single port in my daemon's config? Will other people be able to connect to me?

[2021-06-01 13:22] #3424 closed

[2021-06-01 13:31] tomasmik commented on #3418
Pilvytis 0.0.48 supports and does all of the above.

[2021-06-01 13:31] #3418 closed

[2021-06-01 18:26] etherunit opened #3443 "Residential IP bounty is missing JP & BR"
<img width="783" alt="Screenshot 2021-06-01 at 21 24 14" src="https://user-images.githubusercontent.com/60128746/120372488-e945cb80-c31f-11eb-9bc7-f368d124b029.png">

It should include Japan & Brazil according to May update: https://docs.mysterium.network/token/bounty/#may-2021-updates

[2021-06-02 09:16] cvl opened #3444 "No error when identity registration fails"
**Describe the bug**
Identity registration fails (apparently due to go-erli ddos attacks), yet the api doesn't throw any error when registering failed. Simply I get unregistered identity when trying to check registration status.

No logs produced.

**Expected behavior**
API should throw an error in case registration fails.

**Environment (please complete the following information):**
 - Node versi

[2021-06-02 18:17] ElDavoo commented on #3392
0.47 doesn't work btw

[2021-06-04 09:33] #3436 closed

[2021-06-04 09:47] cvl commented on #3436
Is this done?

[2021-06-05 09:33] cvl commented on #3167
Hi,

Any progress on iOS app?

[2021-06-06 09:43] Peter-SovietSquirrel commented on #3416
Version 1.0-rc5 107101
The text Hight should be changed to something more suitable for example Best.

![IMG_20210606_103035](https://user-images.githubusercontent.com/60095913/120919784-442a4a80-c6b3-11eb-9c14-ef180a11a45f.jpg)

[2021-06-07 06:29] etherunit opened #3450 "Bounty reset to 0 if node is marked as outdated"
[code]

**Describe the bug**
Bounty reset to 0 (after payouts) if node is marked as outdated.

**Expected behavior**
It should keep the accumulated balance and wait for provider to update his node version so it can be paid out.

**Screenshots**
<img width="1335" alt="Screenshot 2021-06-07 at 09 28 40" src="https://user-images.githubusercontent.com/60128746/120969379-c463b500-c772-11eb-8c40-3df9846

[2021-06-07 07:24] HisEvilness opened #3451 "Node not updating MYST earnings."
After contacting support via chat it was requested I file a report here. This covers a visual bug of the MYST node UI that stops displaying the earnings in MYST on the main dashboard and session tab on the node itself. Attached is a screenshot to give a visual idea of the problem.

The earnings are still logged and can be seen on the website for a registered node.

Myst Node. VM machine through Un

[2021-06-07 11:54] chompomonim opened #3453 "Simplify Windows setup for exit nodes"
1. Make nice video how to install and node via docker on Windows.
2. Make visual installer which would install and configure myst node at docker (e.g. using VLS2).
3. Make myst node run on windows natively.

[2021-06-07 11:55] chompomonim opened #3454 "MystNodes 1.0 - Adapt payouts to be understandable by not crypto friendly people"
* We could make graphical interface to automatically convered earned tokens into stable coin (via QuickSwap).
* Create instructions how to trade crypto to fiat
* Do bounty payouts in fiat (e.g. via PayPal)
* Start using stable coin in protocol and then payout via some fiat gateway (e.g. Paypal or Stripe or Exchanges).

[2021-06-07 11:56] chompomonim opened #3455 "Node should support dual mode (at least on Linux and Windows)"

[2021-06-07 11:57] chompomonim opened #3456 "Make exit node installation process easier"
* User friendly Windows installer.
* NodeUI onboarding process could be simplified.
* Create Video instructions how to run exit node on various platforms
* Create installer for MacOS.
* Add possibility to become exit node in desktop app interface.
* Make NAT hole punching more stable + detect when it doesn’t work and show user friendly guides (video, pictures …) how to configure port forwarding.
*

[2021-06-07 13:24] chompomonim opened #3457 "Make video guides how to install exit node"
- [x] on Linux
- [x] on macOS
- [x] on Windows
- [x] on RPi

[2021-06-08 09:58] #3430 closed

[2021-06-08 09:58] #3403 closed

[2021-06-08 09:59] chompomonim commented on #3403
0.47 is released. Thank you everyone for testing.

[2021-06-08 10:06] #3416 closed

[2021-06-08 10:11] #3402 closed

[2021-06-08 10:12] #3346 closed

[2021-06-08 10:13] #3359 closed

[2021-06-08 10:20] #3325 closed

[2021-06-08 10:22] #3331 closed

[2021-06-08 10:22] #3333 closed

[2021-06-08 10:24] #3301 closed

[2021-06-08 10:27] #3277 closed

[2021-06-08 10:27] #2382 closed

[2021-06-08 10:30] #3323 closed

[2021-06-08 10:31] #3270 closed

[2021-06-08 10:34] #3451 closed

[2021-06-08 10:40] chompomonim commented on #3459
@venezuelan-folk we just release new version of node and desktop apps. Could you test it? Your problem may be fixed already.

[2021-06-08 11:41] cvl commented on #2382
Was this resolved?

[2021-06-08 17:13] sridharanreigns opened #3460 "I changed my wallet address But its not changed... It shows!"
server response invalid: 500 Internal Server Error (https://testnet2-transactor.mysterium.network/api/v1/identity/settle_with_beneficiary){"code":500,"error":"unable to check validate request","reason":null}

please fix the issue

[2021-06-09 08:01] chompomonim commented on #2382
Thi is very old issue. We reworked our registration process couple of times already. If you'll get such issue again, please open new ticket.

[2021-06-09 08:58] #3460 closed

[2021-06-09 09:01] tomasmik commented on #3444
This was solved for now with a hack. All identities are registered (even though node can still report as being in progress on the registration). It will automatically be solved with the new network release.

The API isn't throwing any errors and probably will never throw any errors because of how it works. Registration takes time, usually can't respond with anything block chain transaction related

[2021-06-09 09:01] #3444 closed

[2021-06-09 12:21] cvl opened #3462 "DNS leaks again"
**Describe the bug**
DNS leaks again.
Reported by customer, also I can see the leaks on https://www.dnsleaktest.com/results.html and https://ipleak.net/ by myself.
(see screenshots).
<img width="818" alt="Screenshot 2021-06-09 at 15 14 52" src="https://user-images.githubusercontent.com/100252/121352607-b4e09980-c935-11eb-8699-05e08b082cc5.png">
<img width="963" alt="Screenshot 2021-06-09 at 15 12

[2021-06-09 15:40] cvl opened #3463 "[Windows] Browser traffic blocked when connected"
**Describe the bug**
Customer reported, that browser traffic is blocked when connected.
Other apps work fine, yet browser can't load webpages.
Tried everything, reinstalling, restarting etc.

Logs
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6625050/mysterium-node.log)
[mysterium-node 2.log](https://github.com/mysteriumnetwork/node/files/6625052/mysterium-node.2.log)

Androi

[2021-06-09 16:01] etherunit opened #3464 "Tokens earned stuck at 1.77K"
**Describe the bug**

[code]

Tokens earned stuck for node with many successful sessions.

**Screenshots**
<img width="788" alt="Screenshot 2021-06-09 at 19 00 17" src="https://user-images.githubusercontent.com/60128746/121389448-18c68a80-c955-11eb-9865-edec4b450a24.png">
<img width="883" alt="Screenshot 2021-06-09 at 19 00 45" src="https://user-images.githubusercontent.com/60128746/121389451-19f7

[2021-06-09 17:03] mixmafritz commented on #3464
I got this problem, i have lot of sessions with gigabyte of download into my node, but Myst earning still static 66.30 Myst. Amount not moving for few days. I did nothing special, it is a VM on a server. I upgraded to version 0.47.0 still same problem.

[2021-06-10 12:13] NunoRamos1994 opened #3465 "Error change wallet"
![image](https://user-images.githubusercontent.com/55401695/121522903-83c3a000-c9ed-11eb-98b8-f2498d405222.png)

When i try to change the default wallet i take a long time and on hte end give me error above

[2021-06-10 12:25] tomasmik commented on #3465
Please refer to this - https://github.com/mysteriumnetwork/node/issues/3460

[2021-06-10 12:25] #3465 closed

[2021-06-10 12:32] tomasmik commented on #3464
This is due the whole gas price issue. Settlements are either very slow or not happening at all, in turn the earnings graph isn't getting updated. This should not affect much though, after a settlement eventually goes through it should take in to account the tokens earned.

[2021-06-10 13:35] edyshok commented on #3268
Having the same issue here
Node: 0xeeb7f1ade35da77b096c47430452a18d53c9f14d
Node Version: Node version 0.46.2-rc0
WebUI version 0.1.28
OS: Ubunty Mate 20.04.2 LTS
Issue started when earnings reach 20 MYSTT
Then all sessions display 0 MYSTT being earn , amount of MYSTT stack at 20 tokens

![image](https://user-images.githubusercontent.com/85687242/121533395-3d127d80-c9ce-11eb-95dd-4c4784e9e175.png)

[2021-06-10 13:39] etherunit commented on #3268
@edyshok Can you please try to update your node to 0.47+?
https://docs.mysterium.network/node-runners/setup/updating/#how-to-update-your-linux-node

[2021-06-10 16:03] edyshok commented on #3268
Done so, updated to 0.47.1 , now appears to be that clients on androids with older VPN  software versions unable to see nodes updated to 0.47.1 version. I don't see my own node from older android device client, I see only 18 nodes, used to be 40

[2021-06-11 06:55] vkuznecovas commented on #3176
Check testnet3 branch.

[2021-06-11 06:55] #3176 closed

[2021-06-11 06:55] vkuznecovas commented on #3174
Check testnet3 branch

[2021-06-11 06:55] #3174 closed

[2021-06-11 06:55] vkuznecovas commented on #3175
Check testnet3 branch

[2021-06-11 06:55] #3175 closed

[2021-06-11 06:56] vkuznecovas commented on #3289
Check testnet3 branch.

[2021-06-11 06:56] #3289 closed

[2021-06-11 06:56] vkuznecovas commented on #3378
Check testnet3 branches.

[2021-06-11 06:56] #3378 closed

[2021-06-11 06:57] vkuznecovas commented on #3293
Done in testnet3 branch.

[2021-06-11 06:57] #3293 closed

[2021-06-11 06:57] vkuznecovas commented on #3008
Testnet3 branches should now cover this flow.

[2021-06-11 06:57] #3008 closed

[2021-06-11 06:58] vkuznecovas commented on #3377
UI is left, anyone feel like taking it and bumping ui in testnet3 branch?

[2021-06-11 07:21] #3464 closed

[2021-06-11 13:15] Zensey commented on #3035
@chompomonim
AFAIS there's no concurrent sessions limit flag in node yet.

[2021-06-11 13:29] cvl opened #3466 "0.47.1 very unstable: can't disconnect, can't start node, drops connections"
**Describe the bug**
Was trying out 0.47.1 for few minutes.
Experienced the following in short time:
- couldn't disconnect for some time: clicked disconnect, but nothing happened (status didn't change to "Disconnecting"). Then after 1 minute status changed to "Disconnected".
- Couldn't start node. After multiple restarts it started working.
- Connected to German node, but after few minutes it drop

[2021-06-11 14:58] cvl commented on #3462
also on 0.47.1

[2021-06-11 18:17] vegtelenmt2 opened #3467 "0.47.1 Test failed"
**Describe the bug**
Test failed.

**Environment (please complete the following information):**
 - Node version: 0.47.1
 - OS: Ubuntu 20.04.2 LTS
- Not use docker.

[2021-06-12 01:24] soffokl commented on #3467
@vegtelenmt2 could you please provide your identity?

[2021-06-12 03:09] vegtelenmt2 commented on #3467
0x5b9ace3658ca5e04688a8264e86c90c9e11c588a

[2021-06-12 07:04] Sciph3r commented on #3467
I, too, am getting Test Failed

Node Version: 0.47.1
OS: Linux Mint 20.1
No docker/native

Identity: 0x7ab67aabdaac9734e6d77edcfb23b250d3210589

[2021-06-12 09:03] soffokl commented on #3467
@vegtelenmt2 your node is online now.
@Sciph3r your node is online as well.

[2021-06-12 09:03] #3467 closed

[2021-06-14 07:28] chompomonim opened #3468 "Set proper filters for mobile"
We have 3 filters there: `Media Streaming`, `Browsing`, `Downloads`.

Expected behavior is:

- **Media streaming**: only residential nodes with medium+ quality and max **$$** price (don't include super expensive nodes)
- **Browsing**: any IP type, medium+ quality and any price
- **Downloads**: only cheapest (**$** price) non residential nodes (IP type datacenter) with any quality

[2021-06-14 07:56] #3186 closed

[2021-06-14 07:58] #3194 closed

[2021-06-14 08:01] chompomonim commented on #3080
This is quite old issue. I believe in 0.47.1 it should be fixed for mobile.

[2021-06-14 08:01] #3080 closed

[2021-06-14 09:50] cvl opened #3469 "Can't register offchain identity in 0.47.1"
**Describe the bug**
With 0.47.1 pilvytis fails to register offchain identity.
See logs:
[mysterium-node 2.log](https://github.com/mysteriumnetwork/node/files/6647366/mysterium-node.2.log)
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6647367/mysterium-node.log)

It works in 0.46.1.

**Environment (please complete the following information):**
 - Node version: 0.47.1
 - OS: M

[2021-06-14 10:07] #2730 closed

[2021-06-14 10:12] cvl commented on #3469
A bit different problem actually, I'll create another issue.

[2021-06-14 10:12] #3469 closed

[2021-06-14 10:18] cvl opened #3470 "Insufficient balance registering offchain identity in 0.47.1"
**Describe the bug**
With 0.47.1 after registering offchain identity I get insufficient balance when trying to connect.
After few failed attempts to connect it starts working again.

Works well in 0.46.1, so something was changed in 0.47.1.

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6647539/mysterium-node.log)

**Environment (please complete the following informatio

[2021-06-14 11:39] #3377 closed

[2021-06-14 11:43] chompomonim opened #3471 "Do not allow node runners to set prices manually"
In testnet v3 services prices will be set automatically be network's supply and demand. We should addapt NodeUI so it would not force users to set service prices but would simply visualize them.

[2021-06-14 11:49] cvl commented on #3341
Upgraded to 0.47.1, yet there's no kill-switch.

Any plans for kill-switch in near future?

[2021-06-14 11:49] cvl commented on #3169
Any plans for implementing kill-switch in near future?

[2021-06-14 11:51] cvl commented on #3462
Any progress with this?

[2021-06-14 12:25] chompomonim commented on #3169
It is implemented.

[2021-06-14 12:36] MattLong6 commented on #3450
I have an AVADO. It was unplugged for a week. I think it is unfair that I did not receive my rewards from earlier in May before I unplugged it.

[2021-06-14 12:44] chompomonim commented on #3230
I'm closing this issue because `1.0.0` release of mobile app has completely different UI and error messages. If there will be need, please open new issues with new bug reports about connection issues.

[2021-06-14 12:44] #3230 closed

[2021-06-14 13:21] vkuznecovas commented on #3462
The status is as following:

The DNS leaks were introduced in https://github.com/mysteriumnetwork/node/pull/3461/files

This was due to the fact that after release it was figured out that we're having issues on windows due to this. Temporarily, this functionality got disabled.

It will be back once it's fixed(expect sometime this week).

[2021-06-14 13:25] cvl commented on #3169
How can anyone use it?

[2021-06-14 13:26] cvl commented on #3462
Thank you!

[2021-06-14 14:28] #3470 closed

[2021-06-15 01:14] chompomonim commented on #3169
It is enabled by default in mobile app (v1.0+)

[2021-06-15 01:23] chompomonim commented on #3169
Here is comment by @soffokl done a few months ago:
[code]

You can find here how we're setting this flag:
https://github.com/mysteriumnetwork/node/blob/3b0ab1cb979dd40c2f277d46b2767f230ba8c620/mobile/mysterium/entrypoint.go#L122

[2021-06-15 01:25] #3169 closed

[2021-06-15 05:52] cvl commented on #3169
Please don't close the unresolved issues, or I'm wasting my and your time.

[2021-06-15 06:02] cvl commented on #3341
@chompomonim closed https://github.com/mysteriumnetwork/node/issues/3169 stating that kill-switch is implemented...

Copying few months old questions, none of which were even attempted to be answered. Why would anyone spend hours implementing a critical feature then not giving 5 minutes of communication time to tell how it can be used is behind my comprehension.

Thread: https://github.com/mysteri

[2021-06-15 06:04] cvl commented on #3169
Reiterated the same old questions. https://github.com/mysteriumnetwork/node/issues/3341

It's better to invest 5 minutes elaborating on how to use it than wasting hours with back and forth bureaucratic answers.

[2021-06-15 06:47] cvl commented on #3463
Update: with 0.47.1 traffic is blocked for residential IPs only. Data center IPs work ok.

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6653431/mysterium-node.log)

[2021-06-15 06:54] cvl commented on #3466
Got better somehow. Probably server-side issues as usual.

[2021-06-15 06:54] #3466 closed

[2021-06-15 07:07] eugenegoncharuk opened #3474 "After upgrade to 0.47.1 registration is not succeeded"
Node ID: 0x5060e5f0894da23de93b594d02868c7f2d148d81
error message: “Failed to contact hermes to get new registration status error”- ‘could not request consumer data from Hermes’: internal error.

[2021-06-15 07:10] eugenegoncharuk commented on #3474
![Image from iOS](https://user-images.githubusercontent.com/87538/122008548-de7c4380-cdc1-11eb-9fce-7471dfee96fa.jpg)
![identity registering](https://user-images.githubusercontent.com/87538/122008580-e6d47e80-cdc1-11eb-9683-f52860cfba1b.jpg)

[2021-06-15 07:18] isaackielma commented on #3474
Environment:

Node version: 0.47.1
OS: Ubuntu 20.04 LTS under Proxmox server

[2021-06-15 08:22] cvl commented on #3341
Here's some info gathered so far:

- For mobile kill-switch is enabled by default. There's no (easy) way to disable it for now.
- setDisableKillSwitch flag is old and obsolete, shouldn't be used.
- In desktop, use flag "--keep-connected-on-fail=true", when starting myst process. Yet when using this flag, node doesn't start. I'll create another issue for this.
- Is it real kill-switch: not clear ye

[2021-06-15 08:22] vkuznecovas commented on #3474
We had an issue with registrations, to fix you'll need to re-register manually. Sorry about that. Here's the instructions:

To fix this, access the cli via `myst cli` and run the following:

[code]

Then

[code]

This should solve the issue.

Alternatively, you can delete & reinstall, but this would destroy your identity.

[2021-06-15 08:22] #3474 closed

[2021-06-15 08:27] Zensey commented on #2448
In the interactive CLI there are already exist commands:
  export <identity> <new_passphrase> [file]
  import <passphrase> <key-string/key-file>

[2021-06-15 08:27] cvl opened #3475 "myst doesn't start when kill switch on desktop"
**Describe the bug**
Add flag "--keep-connected-on-fail=true", when starting myst in desktop app.
Myst process will not start. No errors.

**Environment (please complete the following information):**
 - Node version: 0.47.1
 - OS: Mac

[2021-06-15 08:37] cvl commented on #3475
seems it's asking for a root password in terminal (in dev mode)

[2021-06-15 08:39] cvl opened #3476 "failed to connect to NATS servers when connected to mobile hotspot (0.47.1)"
**Describe the bug**
- Connect to mobile hostpot.
- Run app.

Node doesn't start properly, hangs on "failed to connect to NATS servers".

Worked well before.

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6654100/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.47.1
 - OS: Mac

[2021-06-15 09:11] Zensey commented on #2448
So the point is -- this commands need to run w/o tequilla api ?

[2021-06-15 09:23] eugenegoncharuk opened #3477 "Update Android NDK"

[2021-06-15 09:24] eugenegoncharuk opened #3478 "Improve analytics for website"

[2021-06-15 09:25] #2071 closed

[2021-06-15 09:29] eugenegoncharuk opened #3479 "NAT status investigation"
- how status is retrieved
- how status is presented
- what we can do better with that
- should not show "NAT status" if not behind that

[2021-06-15 09:33] #3035 closed

[2021-06-15 09:36] eugenegoncharuk opened #3480 "Finish Auto-magic price configuration"

[2021-06-15 09:37] eugenegoncharuk opened #3481 "Re-check the installation guides in docs"

[2021-06-15 09:41] eugenegoncharuk opened #3482 "Update MMN DB to make Isaac as an "Admin""

[2021-06-15 09:46] cvl opened #3483 "Kill switch not working on desktop"
**Describe the bug**
- Use "--keep-connected-on-fail=true", flag when starting myst. You'll need to enter password in dev mode for node to start.
- Connect to some provider
- Use Network Link Conditioner (from xcode) to kill your connection (100% packets dropped)
- The connection status goes to OnHold (which is okay)
- After reenabling the connection, it works for few seconds (i.e. I can see the I

[2021-06-15 09:47] cvl commented on #3341
After testing on desktop, it's still not working. Here are the two issues that need to be resolved:
https://github.com/mysteriumnetwork/node/issues/3475
https://github.com/mysteriumnetwork/node/issues/3483

[2021-06-15 09:49] portalsnetwork commented on #3169
Tried on desktop, not working. Here's some feedback: https://github.com/mysteriumnetwork/node/issues/3341

[2021-06-15 09:50] cvl commented on #3169
Tried on desktop, not working. Here's some feedback: https://github.com/mysteriumnetwork/node/issues/3341

[2021-06-15 09:51] eugenegoncharuk opened #3484 "[MMN] Sessions paging it broken from time to time"

[2021-06-15 09:51] eugenegoncharuk opened #3485 "[MMN] Network statistics page timeouts from time to time"

[2021-06-15 09:51] eugenegoncharuk opened #3486 ""Peru" is not seen in Grafana Provider dashboard"

[2021-06-15 10:00] vkuznecovas commented on #3284
Done.

[2021-06-15 10:00] #3284 closed

[2021-06-15 10:00] vkuznecovas commented on #3290
Done.

[2021-06-15 10:00] #3290 closed

[2021-06-15 10:01] eugenegoncharuk opened #3487 "[MMN] Leaderboard screen problem"
- starting from 0 position
- why in the first place the wrong record (how it gets calculated)
- overall logic of calculation

[2021-06-15 10:19] cvl opened #3488 "[android] Can't run in dev mode"
**Describe the bug**
Trying to run https://github.com/mysteriumnetwork/mysterium-vpn-mobile

Getting the following:
I/ResourcesCompat: Failed to retrieve rebase() method
    java.lang.NoSuchMethodException: rebase []
        at java.lang.Class.getMethod(Class.java:2068)
        at java.lang.Class.getDeclaredMethod(Class.java:2047)
        at androidx.core.content.res.ResourcesCompat$ThemeCompat$Im

[2021-06-15 10:24] cvl commented on #3488
This error is on API 28.
On API 29 there are no errors, but the app doesn't boot up, it's just a purple screen without any visuals.

<img width="554" alt="Screenshot 2021-06-15 at 13 23 06" src="https://user-images.githubusercontent.com/100252/122037124-f6ad8c00-cddc-11eb-8b73-c8a329fb1303.png">

[2021-06-15 13:33] mdomasevicius commented on #3488
@cvl this seems to be a bug or misuse of android API

either way the problem is here:

[code]

the `afterAction.invoke()` is never called, because the listener is never notified (it seems).
Current workaround (for development on emulator):

[code]

[2021-06-15 14:09] isaackielma opened #3490 "Residential node incorrectly identified as Business IP"
**Describe the bug**
Node ID: 0x37cacf3baf5060639cbf47a3640d14d0c178b21a

Provider is experiencing an issue where he is running a node in his own residence but dashboard Identifies node as business IP.

**Expected behavior**
 Node should be categorized as a residential IP as it previously did before the update.

**Screenshots**
<img width="376" alt="Screenshot 2021-06-15 at 14 46 47" src="https://

[2021-06-15 15:27] cvl commented on #3488
Thank you, this helped!

[2021-06-15 15:27] #3488 closed

[2021-06-15 16:30] cvl opened #3491 "[android, question] what is manualDisconnect?"
At https://github.com/mysteriumnetwork/mysterium-vpn-mobile/blob/413de00796845ab47318c8150881a015a7bb8786/android/app/src/main/java/updated/mysterium/vpn/ui/connection/ConnectionViewModel.kt#L266 there's coreService?.manualDisconnect()
What does this do? Is this different than deferredNode.await().disconnect() ?

[2021-06-16 07:04] etherunit opened #3492 "/var/log/syslog is flooded each 1s with unknown session updates"
[code]

Provider: 0x9bfaf5f82b29d749444c9e76e5d0bceb9bf4d90c
OS:Ubuntu 20.10
Architecture: linux/amd64
Node version: 0.47.1
Logs: https://my.mysterium.network/admin/issues/download/3019

[2021-06-16 07:15] etherunit commented on #3490
@isaackielma We are taking this type of data from Maxmind service. It's using the GeoIP2 connection type database to determine the connection type based on the IP address.

Provider should submit a correction request through the forms, linked https://support.maxmind.com/geoip-data-correction-request/

[2021-06-16 09:00] vkuznecovas commented on #3492
Pretty sure this causes #3268

[2021-06-16 09:47] isaackielma opened #3493 "Reduced Traffic after update to new release."
**Describe the bug**
Reduced Traffic after update to new release (compared to the last node versions). Providers are reporting to have a lot less clients connecting to their nodes after the update. Barely none. After attempting connecting to these nodes I could only connect a few times. Most times I would get the error

**Expected behavior**
Ideally, update should either maintain or positively aff

[2021-06-16 10:22] vkuznecovas commented on #3492
So upon further investigation the following seems to be happening:

A consumer connects to a provider.
A session is established.
The consumer drops connection.
The consumer reconnects.

This results in a phantom session existence, where the session stats keep being reported even though the session is gone.

Need to look a bit further as to why this is happening.

[2021-06-16 10:32] etherunit commented on #3493
it will stabilise itself once the major part of consumers will start using 0.47+ node compatible apps.

[2021-06-16 11:47] vkuznecovas commented on #3490
If this is something that's occuring frequently, it needs to be opened as a separate issue.
[code]

As far as incorrect categorization @etherunit is correct, there's nothing for us to do, the user needs to contact maxmind.

[2021-06-16 11:47] #3490 closed

[2021-06-16 13:26] #3492 closed

[2021-06-16 16:38] cvl opened #3495 "[android] make it possible to see real quality level, latency and bandwidth (as in desktop)"
In desktop you can see real quality level (e.g. 2.3), latency and bandwidth.
Yet in mobile, the only thing you can get is quality level in very rounded numbers (0,1,2,3).

[2021-06-16 16:39] cvl commented on #3491
CC: @ArtemHryhorovGeniusee

[2021-06-16 22:06] chompomonim commented on #2448
I command is already there, maybe then we're simply missing documentation ;)
BTW is adding password is already there?

[2021-06-17 00:40] #1397 closed

[2021-06-17 00:49] #3468 closed

[2021-06-17 07:16] eugenegoncharuk commented on #3484
Cannot reproduce atm. Bringing back to Backlog

[2021-06-17 08:10] vkuznecovas opened #3496 "BC Client reconnect race"
[code]

Client gets closed in the following flow:

1) Client is gotten from the reconnectable client via `.Client()`.
1) Reconnectable client gets reconnected via `.Reconnect()`.
1) Client 1 crashes with the error above.

[2021-06-17 08:11] vkuznecovas commented on #3496
This causes e2e to be unstable as well.

[2021-06-17 08:13] untitledlt commented on #3485
could not reproduce it

[2021-06-17 08:40] cvl commented on #3483
Works well on Android though.

[2021-06-17 08:47] cvl opened #3497 "[question] What is "IPNotChanged" connection state?"
As says in the title.

I can see this state in new Android app, yet it's unclear what it means.

CC: @ArtemHryhorovGeniusee

[2021-06-17 09:25] tomasmik opened #3498 "Less aggressive balance caching"
Node should cache balance less aggressively and maybe not even check it on connection creation. Consumer or hermes itself should tell the client that he doesn't have enough balance to create a connection which in turn should be handled accordingly.

Currently you will run in to issues if for example your offchain identity runs out of balance. Your balance will not get synced again because you can'

[2021-06-17 09:41] chompomonim commented on #3303
Closing this issue. Most of mentioned things should be fixed by now. If something left, please create separate tasks per each issue

[2021-06-17 09:41] #3303 closed

[2021-06-17 09:42] #3288 closed

[2021-06-17 09:56] chompomonim commented on #3313
Closing it because very little information and is most probably fixed already. If not, please create new issue with more description and actionable items.

[2021-06-17 09:56] #3313 closed

[2021-06-17 10:10] eugenegoncharuk opened #3500 "Build Node for testnet v3"
- build and test manually
- prerelease safely (for internal users only), like it was for betanet

[2021-06-17 10:37] eugenegoncharuk opened #3501 "Check bithost VM"
We have powered off this server due to the severity of the abuse report ([2102] Abuse Report: windscribe-america-old).
Your account has been locked until we receive a response from you.
------------------------
Ticket GZG-60JHN has been updated by Accounts Team. Regarding: 45.77.115.196 (windscribe-america-old)
We have powered down your cloud server due to excessive CPU usage affecting other guest

[2021-06-17 10:47] eugenegoncharuk opened #3502 "[PROD] Monitoring issue with Node older version"
Need to check the monitoring agent. Why older versions of nodes are not monitored anymore.

[2021-06-17 11:20] #2608 closed

[2021-06-17 11:21] Jaska8 commented on #3463
Most of residential nodes do not work and do not route any kind of traffic for me. Tried to connect several R nodes and tried my own too, managed to connect but none of the traffic went through.
Using android phone.

[2021-06-17 11:28] #2656 closed

[2021-06-17 11:29] chompomonim commented on #3001
We're going to release pre-mainnet on Polygon Mumbai and later go straight to Mainnet.

[2021-06-17 11:29] #3001 closed

[2021-06-17 11:29] chompomonim commented on #2887
There is no stake requirements in testnet v3 and later in mainnet.

[2021-06-17 11:29] #2887 closed

[2021-06-17 11:31] chompomonim commented on #2770
This is done for long time already.

[2021-06-17 11:31] #2770 closed

[2021-06-17 11:53] #3172 closed

[2021-06-17 11:54] #3171 closed

[2021-06-17 12:14] chompomonim opened #3504 "Documentation on how to use kill switch pragmatically"
In v0.47 we have released experimental kill switch support. It is enabled by default in mobile apps however it is not clear how to use it by app developers.

We need documentation:
- [x] How to enable/disable kill switch from kotlin code without touching node and go lang.
- [x] How to enable/disable kill switch for desktop app (via tequilapi) without touching node and golang code.
- [x] How to ena

[2021-06-17 12:17] chompomonim commented on #3475
This looks like duplicate of #3483

[2021-06-17 12:23] chompomonim opened #3505 "Add kill switch support to Mysterium dVPN app"
Mysterium android dVPN app is going into "On Hold" state when there are issues with connection which prevents from leaking network requests outside of VPN tunnel. It also is trying to reconnect to same node after lost connection.

We need to enable such functionality for desktop apps as well. Ideally this should be configurable in app's settings (enable/disable).

[2021-06-17 12:23] Zensey commented on #2448
Yes, password is required for both import and export, but length is not validated.
So, we need a password length check and documentation update.

[2021-06-17 12:26] chompomonim opened #3506 "Ensure that kill switch is easy to use by 3rd party developers"
While kill switch is not enabled in desktop apps and there is no proof that it is working correctly we need to:

- [x] Retest if this functionality is still working and how to use is
- [x] Create documentation for app developers on how to use it (#3504)
- [ ] Add kill switch support to Mysterium dVPN app (#3505)

@cvl is reporting that:
- For mobile kill-switch is enabled by default. There's no (e

[2021-06-17 12:27] chompomonim commented on #3341
Kill switch is implemented but is not clear how to use it and may have some issues on desktop.

I'm closing this issue in favor for #3506

[2021-06-17 12:27] #3341 closed

[2021-06-17 14:00] #3496 closed

[2021-06-17 14:34] Zensey opened #3507 "Wrong measure unit in bandwidth control."
If I set 200 Mbit/s, I actually get 200Kbit

[code]

Introduced by https://github.com/mysteriumnetwork/dvpn-web/pull/196

[2021-06-18 05:23] vkuznecovas opened #3508 "Hermes can't watch exits on matic"
[code]

Potential fixes:
1) insert the current block number in the DB so that we don't sync far in the past.
2) update current rpc endpoint to a paid plan, which in theory should allow a further look in the past.
3) use our own full node.

[2021-06-18 05:26] vkuznecovas opened #3509 "Discovery is slow to update proposals"
Currently, discovery does not listen to proposal-register topics, only to pings. That means the proposal registration after service start holds until the first ping, which is a few minutes after the actual service start.

[2021-06-18 05:28] vkuznecovas opened #3510 "Subscription error on node balance events"
Start service and watch the logs go nuts:

[code]

Needs fixing.

[2021-06-18 05:30] vkuznecovas commented on #3510
[code]

[2021-06-18 06:31] chompomonim opened #3511 "CLI filter by country is returning all proposals"
CLI should return filtered list of proposals by countries, but it does not :(
`$ myst connection proposals --country UA`

[2021-06-18 06:54] vkuznecovas commented on #3509
fixed in origin/testnet3 of discovery.

[2021-06-18 06:54] #3509 closed

[2021-06-18 07:10] #3484 closed

[2021-06-18 07:11] untitledlt commented on #3484
cannot reproduce

[2021-06-18 07:16] vkuznecovas opened #3512 "Fix token migration"
Transactor does not want to migrate my tokens to testnet3. Needs fixing.

[2021-06-18 08:09] vkuznecovas commented on #3512
Migration fixd in testnet3 branch of transactor.

[2021-06-18 08:09] #3512 closed

[2021-06-18 08:43] #3511 closed

[2021-06-18 11:02] vkuznecovas commented on #3508
Fixd

[2021-06-18 11:02] #3508 closed

[2021-06-18 12:07] eugenegoncharuk opened #3514 "Low connections success rate to Avado 0.52.0"
Low connections rate (around half of sessions were not established) for Avado box running Mysterium Node with version 0.52.0

https://my.mysterium.network/nodes/668/dashboard

Tried to test connections against a different node in Italy and it had a higher connections success rate.

[2021-06-18 12:09] eugenegoncharuk commented on #3514
Logs from the box.
Tried different consumers, mine and Andzej
[avado_180621_1230.log](https://github.com/mysteriumnetwork/node/files/6676909/avado_180621_1230.log)

[2021-06-18 12:17] eugenegoncharuk opened #3515 "Lag on updating MMN eligible status for updated node"
There is lag for a 30+ minutes happening on eligible status update for node in the MMN.

Steps to reproduce:
- have an outdated node [0.46.1]
- update node with latest version [0.47.2]
- log in to NodeUI > MMN Integration > re-enter API key and save it
- log in to MMN > select your updated node
- click on exclamation mark inside Bounties box

Observed:
- "Your node's version is too old. Please, up

[2021-06-18 12:18] eugenegoncharuk commented on #3515
Screenshots attached
![exclamation_mark](https://user-images.githubusercontent.com/87538/122559777-712e1400-d048-11eb-8244-af478ccf8fe4.jpg)
![message](https://user-images.githubusercontent.com/87538/122559784-72f7d780-d048-11eb-9486-7f6daa0f4f5a.jpg)

[2021-06-18 12:19] eugenegoncharuk commented on #3515
Should be
![image](https://user-images.githubusercontent.com/87538/122559858-8acf5b80-d048-11eb-91c8-aefd63abfe47.png)

[2021-06-18 12:54] eugenegoncharuk opened #3516 "Check to remove OpenVPN settings from web UI"

[2021-06-18 12:54] eugenegoncharuk opened #3517 "Allow to set how many concurrent sessions exit node is supporting and what is maximum bandwidth it pass via VPN tunnels"

[2021-06-18 13:23] cvl opened #3518 "pilvytis api docs url not working anymore"
https://testnet2-pilvytis.mysterium.network/swagger/index.html site can't be reached

[2021-06-18 13:25] tomasmik commented on #3518
Pilvytis is up and running: https://testnet2-pilvytis.mysterium.network/api/v1/ping

Just checked the swagger link - it can be reached.

[2021-06-18 13:25] #3518 closed

[2021-06-18 13:37] cvl commented on #3518
doesn't work for me

[2021-06-18 13:38] cvl commented on #3518
also some apps cannot be started anymore, e.g. android I get
2021-06-18 16:34:33.458 30530-30530/network.portals.vpn E/DeferredNode: Failed to start node
    go.Universe$proxyerror: could not bootstrap dependencies: failed to connect to NATS servers [nats://testnet2-broker.mysterium.network:4222 nats://testnet2-broker.mysterium.network:4222 nats://95.216.204.232:4222]: nats: no servers available f

[2021-06-18 13:40] cvl opened #3519 "some Mysterium webservices are down"
E.g.
ANDROID:
2021-06-18 16:34:33.458 30530-30530/network.portals.vpn E/DeferredNode: Failed to start node
go.Universe$proxyerror: could not bootstrap dependencies: failed to connect to NATS servers [nats://testnet2-broker.mysterium.network:4222 nats://testnet2-broker.mysterium.network:4222 nats://95.216.204.232:4222]: nats: no servers available for connection
at mysterium.Mysterium.newNode(Native

[2021-06-18 13:41] tomasmik commented on #3518
Are you sure it's not just some network/dns issues that you're having? All apps are working for me, pilvytis also loads and is running.

[2021-06-18 13:45] cvl commented on #3518
I don't know. I'm not alone though, someone on Discord complains as well.

Might be dns issues, if the of webservices IP changed?

[2021-06-18 13:47] cvl commented on #3518
Cleaned cache with sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder still not working :\

[2021-06-18 13:52] cvl commented on #3519
Looks like computer restart helped. Wondering what happened... Probably will never find out.

[2021-06-18 13:52] #3519 closed

[2021-06-18 13:53] vkuznecovas commented on #3518
DNS records have not been touched, so everything should be in order.

Tested via multiple remote locations, all seems to be in order. Have you tried rebooting? :)

[2021-06-18 13:57] cvl commented on #3518
Just did. It helped.
Never experienced anything like that.

Thank you.

[2021-06-18 13:59] cvl commented on #3518
There's one fellow on Discord with similar problem, I assume he has experienced the same issue.

[2021-06-18 16:02] #3507 closed

[2021-06-18 16:03] Zensey commented on #3507
resolved by https://github.com/mysteriumnetwork/dvpn-web/pull/197

[2021-06-19 14:56] andrewasd opened #3520 "stuck on "Your identity is being registered, please be patient...""
**Describe the bug**
In node UI I'm stuck on: "Your identity is being registered, please be patient..."
i tried deleting and acclaiming the nodes from the account but I'm still stuck on that screen, how can i reset the node ui?
i also tried restarting the node service but it's the same
is there a way to reset the node settings reconfigure everything?

**Environment (please complete the following i

[2021-06-20 18:19] tacerus opened #3521 "Unclear as to which ports to open"
The Docker routed TCP/4449 allows access to the admin UI, however the Firewall logs show a bunch of rejected UDP requests, and your system reports my node to be offline. This does not seem right. It's also weird how the Docker instructions for Linux show different port mappings then the Docker instructions for Windows/macOS.

[2021-06-21 06:27] #3155 closed

[2021-06-21 07:15] tadaskay opened #3522 "Ability to start the node under insecure wifi"
It's a common use case to use VPN with insecure wifi, but our node is unable to start under such network due to SSL cert errs (logs below). It would be nice to have a fallback mechanism that could work under such conditions.

<img width="555" alt="Screenshot 2021-06-21 at 10 10 10" src="https://user-images.githubusercontent.com/4745368/122721310-2e9f4e00-d279-11eb-93e3-e3ed82ea76ce.png">

[code]

[2021-06-21 10:05] tomasmik opened #3524 "Node panics if you try to connect to a proposal that doesn't exist"
[code]

[2021-06-21 12:18] Zensey commented on #3360
@cvl
How do you uninstall in the 2nd scenario ?
Via apt remove ?

[2021-06-21 13:40] cvl commented on #3360
This issue was for client app, i.e. not node runner app.

[2021-06-21 13:45] cvl commented on #3360
I was using built-in Ubuntu package manager (GUI) - called Ubuntu Software I guess. Just double click the .deb package.

[2021-06-21 13:48] Zensey commented on #3360
Is it shown in Ubuntu Software as well ?

[2021-06-21 14:22] Zensey commented on #3360
@cvl
Which Ubuntu version it was ? Was it 20.4 ?

[2021-06-21 15:37] cvl commented on #3360
yes, 20.04.2.0 LTS

[2021-06-21 19:51] vkuznecovas commented on #3524
49d554516e4c0ed70035a395c28d3f2ff6c947f1 fixes this.

[2021-06-21 19:51] #3524 closed

[2021-06-22 06:18] tomasmik commented on #3498
This is probably good enough with the current change where it syncs balance on validation.

[2021-06-22 06:18] #3498 closed

[2021-06-22 06:29] Zensey commented on #3437
Is there any build-time information getting embedded into binary, like target platform ?

[2021-06-22 06:54] Zensey commented on #3360
Seems to be an electron-build related problem.

[2021-06-22 07:39] tomasmik commented on #3500
#3526 closes this. Should publish to: https://launchpad.net/~mysteriumnetwork/+archive/ubuntu/testnet3

[2021-06-22 07:39] #3500 closed

[2021-06-22 08:55] cvl opened #3527 "[mac, bug] state not updated when disconnecting and takes a very long time"
**Describe the bug**
Connected to Chile node from Lithuania. Tried to disconnect, but it looks like nothing happens when clicked to disconnect (i.e. the connection state is not updated to "Disconnecting"). After a while it changes suddenly to "Disconnecting".

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6692777/mysterium-node.log)

**Environment (please complete the f

[2021-06-22 10:33] cvl opened #3528 "[android, bug] node takes a long time to boot up, and long time to fetch proposals in 0.47.1+"
**Describe the bug**

In 0.47.1 / 0.47.2 node takes 5-10+ seconds just to boot up, then takes another 5-10+ seconds to fetch proposals.
So users are waiting to 10-30 seconds just to see the countries list. It looks like it doesn't work for casual users.

It used to be much faster with previous versions.

Anything changed to substantially decrease performance?

**Environment (please complete the fo

[2021-06-22 10:47] pianoman10 commented on #2041
This issue is probably more relevant than it might seem and I think it deserves to be taken care of soon. Many people is starting to have multiple residential nodes and only way to "administer" them remotely is having this port forwarded.
The change of password alone is not enough. Not having SSL the password can be captured. Something should be implemented sooner than later to avoid hackers from

[2021-06-22 12:21] cvl commented on #3233
Yes

[2021-06-22 12:21] cvl commented on #3232
Yes

[2021-06-22 12:21] cvl commented on #3227
Yes

[2021-06-22 12:25] cvl commented on #3191
Yes, reoccured in https://github.com/mysteriumnetwork/node/issues/3398

[2021-06-22 13:05] cvl opened #3529 "can't add identities to pilvytis (error: already exists)"
**Describe the bug**
Trying to add the following identities:
0x972bf42d4bc5672b51a6c904125d80e8c48a6792
0x9bbd617db70b0fc4d0bc0bf9168d701d5834bda1
0xa904711ded7fd11ec6c7c46dcb8c7e17ae93b4a3

Getting error:
Exception: Request failed for https://testnet2-pilvytis.mysterium.network returned code 409. Truncated server response: {"error":"already exists","field":"identity"} (use muteHttpExceptions opti

[2021-06-22 13:50] tomasmik commented on #3529
Should be fixed in the latest release of pilvytis. There was an unwanted conflict that was making this error appear. Close the issue if everything is now OK.

[2021-06-22 14:00] cvl commented on #3529
thanks!

[2021-06-22 14:08] etherunit opened #3531 "Service price mismatch in NodeUI & MMN"
id: 0x9bfaf5f82b29d749444c9e76e5d0bceb9bf4d90c
Node version: 0.47.2
OS: Ubuntu 20.10
<img width="436" alt="Screenshot 2021-06-22 at 16 49 01" src="https://user-images.githubusercontent.com/60128746/122939619-74910a80-d37c-11eb-9622-e71e51e35ce1.png">
<img width="456" alt="Screenshot 2021-06-22 at 16 49 05" src="https://user-images.githubusercontent.com/60128746/122939625-75c23780-d37c-11eb-86cf-96

[2021-06-22 14:09] #3531 closed

[2021-06-22 15:30] Technetium1 commented on #3034
Stale bot allows for issues to quietly disappear instead of being fixed.

[2021-06-22 17:03] #2624 closed

[2021-06-22 17:34] cvl commented on #2571
don't

[2021-06-22 17:35] cvl commented on #2573
don't

[2021-06-22 17:35] cvl commented on #2561
don't

[2021-06-22 17:40] cvl commented on #2464
don't

[2021-06-22 17:41] cvl commented on #2004
don't

[2021-06-22 17:47] cvl commented on #2068
don't

[2021-06-22 17:47] cvl commented on #1802
don't

[2021-06-22 18:17] Data-Gremlin opened #3532 "Unable to change Wallet ID"
Running on Linux
Node Ver 0.47.2
WebUI 0.1.32

Beneficiary wallet address I am unable to change it to my new wallet.

You can not edit the text or copy and past.

When on mobile keyboard does not load either.

[2021-06-22 19:37] etherunit opened #3533 "Docker node testing using STUN servers"
With use of stun-servers:[stun.l.google.com:19302 stun1.l.google.com:19302 stun2.l.google.com:19302] a Docker node was launched on a MAC comp using simplified installation method: https://docs.mysterium.network/node-runners/setup/docker/#for-macos-users-open-a-command-line-terminal-and-type-the-following-command

Node was successfully installed (without any port forwarding required), registered on

[2021-06-22 19:43] etherunit commented on #3521
@tacerus Can you please refer to the latest docker guides: https://docs.mysterium.network/node-runners/setup/docker/

[2021-06-22 19:44] etherunit commented on #3520
@tomasmik Can you please look into it? Thx

[2021-06-22 19:45] tacerus commented on #3521
Thanks, I did. It only mentions `-p 4449:4449` for Linux, which, from my understanding, ONLY routes the port for the Web GUI to outside of the container. In the Windows part, further ports are listed. I do not understand how you intend Docker on Linux to magically route the other ports?

[2021-06-22 19:49] etherunit opened #3534 "Disable OpenVPN from the latest docker image"
docker pull mysteriumnetwork/myst:latest, running 0.47.2 node. After claiming into MMN I'm still seeing `OpenVPN` and `noop` enabled by default.

Provider: 0xaa3d1e65a1a84055cb619004a3ca59489970cef5
OS: Alpine Linux v3.12(docker)
Architecture:l inux(docker)/amd64
Node version: 0.47.2

[code]

[2021-06-22 19:57] etherunit opened #3535 ""Node settings" still directing to http://[container_ip]:4449/"
[code]
The access is restricted.
http://localhost:4449 or http://127.0.0.1:4449 should be in use.

[2021-06-23 06:53] cvl commented on #3463
0.47.1 and 0.47.2 have the same problem.
Logs attached:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6699632/mysterium-node.log)

CC:
@vkuznecovas

[2021-06-23 06:55] #3534 closed

[2021-06-23 06:57] cvl commented on #3245
Don't

[2021-06-23 07:27] #2448 closed

[2021-06-23 08:30] chompomonim commented on #2205
We don't have such plans at the moment (due to Apple terms and agreements and payments policy).

[2021-06-23 08:30] #2205 closed

[2021-06-23 08:31] #2319 closed

[2021-06-23 09:05] chompomonim commented on #1798
Most of our plans according new discovery are already created. The only part left is making "paid discovery' which we're moving into separate milestone.

[2021-06-23 09:05] #1798 closed

[2021-06-23 09:06] chompomonim commented on #1806
We decided not to use protobuf for easier app developers on-boarding. Not many people are still familiar with protobuf and it would give not that big advantage compering to current solution.

[2021-06-23 09:06] #1806 closed

[2021-06-23 09:12] chompomonim commented on #1805
While we're working on design for distributed discovery mechanism it is hard to say how exactly it is going to be monetized.

[2021-06-23 09:12] #1805 closed

[2021-06-23 09:12] #1811 closed

[2021-06-23 11:48] gitxmax opened #3540 "Installing mysterium with the bash script messes up dns"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh Ubuntu  install
2. Install mysterium using the bash script

 - Node version: 0.47.2
 - OS:Ubuntu 18.04 or 20.04

After the installation complete, the node comes up and runs fine, till I restart the server.
After reboot, no internet connection is available, keep on ge

[2021-06-23 12:55] gitxmax commented on #3540
from my observation, by default the machine has cat /etc/resolv.conf returning google dns servers.  After installing the mysterium script, those are gone and no internet connection, after reboot.

[2021-06-23 14:44] tomasmik opened #3542 "Long sessions drain offchain balance without it getting resynced"
Long running sessions drain balance without actually updating it. For apps this is OK because sessions dont last longer than the assigned MYST amount (which ranges from 3 to 10MYST).

Balance gets updated when you get identity from tequila, unlock it, etc. but not when a connection is ongoing or when you're trying to connect.

We should force a periodic balance update in node for offchain targets

[2021-06-24 01:14] AsgardexTester opened #3543 "Unable to update beneficiary wallet address"
The beneficiary address is set to 0x0000000000000000000000000000000000000000 despite having input the wallet address duringg initial setup. Attempts to update it shows the following error messages.

![image](https://user-images.githubusercontent.com/79346230/123187175-330f7500-d4cc-11eb-8e21-b4c5222ec5d2.png)

![image](https://user-images.githubusercontent.com/79346230/123186804-833a0780-d4cb-11eb

[2021-06-24 02:59] soffokl commented on #3540
hm, this is very weird, mysterium node service or install script does not touch any DNS configuration of the system.
I was installing it many times on different Ubuntu versions and everything was working fine there.

Are you sure that no other components could do this with system DNS?
If it reproducible case could you please provide the output of the bash install script?

[2021-06-24 03:27] HappyEarthDay commented on #2041
I would consider a web interface with fillable fields that doesn't support SSL a very high security risk.  **Why does the web interface remain after setting up the node?**  You can't change much on node via the web UI, so it should be easy to move those settings and dashboards to _my.mysterium.network_.  In my opinion, the webui from the node should be disabled unless it loses connectivity to _my.

[2021-06-24 07:28] #3437 closed

[2021-06-24 07:54] isaackielma opened #3544 "node's status is marked as online but is not found on app"
**Describe the bug**
node id: 0x94d0b7c4dd1a6eab8c6ec19da79411bdc1256238

Node was installed as explained in website, first installation did not work. After troubleshooting network settings, possible bugs and reinstalling node, provider gets following error:

 2021-06-24T06:47:42.106 ERR ui/server.go:106 > Failed to start local discovery service error="Could not determine host IP addresses for 30c

[2021-06-24 11:01] chompomonim commented on #1809
We decided to do it another way for now.

[2021-06-24 11:01] #1809 closed

[2021-06-24 11:03] #3178 closed

[2021-06-24 11:07] isaackielma opened #3546 "Test Fail and not showing in app after update new release 0.48.0"
**Describe the bug**
0x641cb8019932b0fc112eeb1c265a4e93811c9086 - Status test failed ever since stopped having sessions 2 days ago

**To Reproduce**
Steps to reproduce the behavior:
Followed documentation instructions you gave Raspberry Pi update.

"MMN shows "test failed", and node is not listed in Myst client.
I have updated to 0.47.3 and then to 0.48.0, but nothing has changed.
By checking the

[2021-06-24 11:26] chompomonim commented on #2041
MMN (my.mysterium.network) is not in control of your node, it simply visualizes data. Node's private keys are never revealed to MMN. And in terms of stay decentralized, MMN should be always be a add-on solution, not main node's management tool.

We understand importance of making NodeUI securely exposed outside of local network. There are a few ideas how to do that. Some are discussed in this issu

[2021-06-24 11:47] #1662 closed

[2021-06-24 11:55] chompomonim commented on #1717
To have actual browser plugin we would need to build not whole node, but simplified version of it (similar to iOS network extension). Closing this task, because there is not actual use-case for it. At least at the moment.

[2021-06-24 11:55] #1717 closed

[2021-06-24 11:56] chompomonim commented on #1631
MMN is going to be rewritten from scratch where such problems should be avoided at all.

[2021-06-24 11:56] #1631 closed

[2021-06-24 11:57] #1746 closed

[2021-06-24 11:59] chompomonim commented on #1802
It can be already fixed with new discovery.

@mdomasevicius is our new discovery somehow recheck nodes country? Is country part of proposal send by node or location is actually added by discovery?

[2021-06-24 12:02] chompomonim commented on #2004
I believe this is not a problem of desktop app but node's problem itself. We'll recheck scenario described in task description and if it a case, will fix it or create feature request with more details what should be done to achieve wanted experience.

[2021-06-24 12:05] chompomonim commented on #2004
@cvl could you ellaborate on steps to reproduce?

These are tequilapi calls from JavaScript app, right?

[2021-06-24 12:27] isaackielma opened #3547 "Node Online and listed on app, but not connectable."
**Describe the bug**
0x8712156d44bf6839212e31b352354a3002743d26
**To Reproduce**
Steps to reproduce the behavior:

docker run --cap-add NET_ADMIN -d -p 4449:4449 --name myst -v myst-data:/var/lib/mysterium-node mysteriumnetwork/myst:latest service --agreed-terms-and-conditions

Install Docker linux script from documentation page.

get this error on Docker:

iptables basepath detected: /sbin
Incorr

[2021-06-24 12:35] cvl commented on #2004
Yes, but they're being called by tequila api, specifically:
tequilapi.connectionCancel()

Here's how it looks when attempting to disconnect. In this attempt it just hung up in "Connecting" state, have to relaunch the app.

<img width="695" alt="Screenshot 2021-06-24 at 15 33 25" src="https://user-images.githubusercontent.com/100252/123263536-bdbe9700-d501-11eb-8997-0a2711116a24.png">

[2021-06-24 13:05] chompomonim commented on #2004
Have you checked it only on Mac or this issue is reproducible only on Mac and Windows is ok?

[2021-06-24 13:08] chompomonim commented on #2020
Old issue, most probably is not relevant anymore. If you still have similar issue with newest versions of application, please open new issue.

[2021-06-24 13:08] #2020 closed

[2021-06-24 13:09] chompomonim commented on #2304
There is another quality related epic (#2597), closing this as duplicate.

[2021-06-24 13:09] #2304 closed

[2021-06-24 13:16] chompomonim commented on #2473
Not relevant anymore. We'll have separate epic for MainNet release with more actual information.

[2021-06-24 13:16] #2473 closed

[2021-06-24 13:17] Jazzyboy07 commented on #3547
I have the exact same issue my node ID is 0x629f0014c7aba48535ce81a2aec2e44da9c17ff1
OS:Alpine Linux v3.12(docker)
Architecture:Windows 10 (Docker)/ Intel chip
Node version:0.48.0

[2021-06-24 16:04] #2476 closed

[2021-06-24 16:05] chompomonim commented on #2481
We have completely new app, this is not relevant anymore.

[2021-06-24 16:05] #2481 closed

[2021-06-24 16:10] #2490 closed

[2021-06-24 16:12] #2494 closed

[2021-06-24 16:13] chompomonim commented on #2493
This is already done in v5.0 preview

[2021-06-24 16:13] #2493 closed

[2021-06-24 16:14] chompomonim commented on #2535
Done in new mobile app.

[2021-06-24 16:14] #2535 closed

[2021-06-24 16:17] chompomonim commented on #1538
@arpitjindal97 sorry for missing your message and not responding earlier. We're always very open for community contribution and would be happy to review and merge your PR.

[2021-06-24 16:19] chompomonim commented on #2531
After adapting our payments to be run on L2 (0xPolygon) this is not relevant anymore.

[2021-06-24 16:19] #2531 closed

[2021-06-24 16:22] chompomonim commented on #2528
Not relevant anymore.

[2021-06-24 16:22] #2528 closed

[2021-06-24 20:44] Shrif88 commented on #3547
I have the same issue and my node id is 0xd582c3b7fdbae27721b91a878402f7f3acecd3cd

[2021-06-24 20:59] Shrif88 commented on #3547
I have the same issue and my node id is 0xd582c3b7fdbae27721b91a878402f7f3acecd3cd
I am running the latest docker on macOS
Node version 0.47.3
WebUI version 0.3.0

Also I have tried a simple test case using my android phone that is using data and tried to connect to my node and I see the logs from the container showing the events triggered by the connect request from phone and then it throws error

[2021-06-24 22:42] rush0815 opened #3548 ""NAT status Not Finished" not fixable"
I burned the image for my pi, configured the node and all was fine with the NAT. First 3 sessions came in a few minutes later. Then I restarted my node and now I only see "NAT status Not Finished". Don't understand why because it worked before the reboot. I have nothing changed on my raspberry nor the router till here.

Also UPnP is activated on my router, but no ports have been opened by my node

[2021-06-25 03:49] soffokl commented on #3547
@Jazzyboy07 I successfuly connected to your node 0x629f0014c7aba48535ce81a2aec2e44da9c17ff1, monitoring agent is connecting to it constantly. Everything seems to be fine.

[2021-06-25 03:50] soffokl commented on #3547
@Shrif88 your node 0xd582c3b7fdbae27721b91a878402f7f3acecd3cd is running OpenVPN service only. It's the legacy protocol most of the client's apps are using wireguard only. you need to run a wireguard service to be able to connect to it.

[2021-06-25 03:51] soffokl commented on #3547
@isaackielma node 0x8712156d44bf6839212e31b352354a3002743d26 very unstable it's offline very often. But when it's online everything seems to ok with it.

[2021-06-25 03:59] soffokl commented on #3546
@isaackielma does this node has any non default configuration applied?
I see it's trying to use UPnP port mapping, but router has local IP too, so there several NAT levels exist in his network.
It should use NAT hole punching to pass this limitation, but based on logs it looks like it's not used. Is it explicitly disabled?

I recommend to remove all non default configuration and try to use NAT hol

[2021-06-25 07:24] chompomonim commented on #2752
Done in newest mobile app release.

[2021-06-25 07:25] #1584 closed

[2021-06-25 07:26] #2787 closed

[2021-06-25 07:27] chompomonim commented on #2813
We addressed a lot of connectivity issues during last half a year, this should be fixed already.

[2021-06-25 07:27] #2813 closed

[2021-06-25 07:27] chompomonim commented on #2585
We're skipping betanet and going to mainnet directly.

[2021-06-25 07:27] #2585 closed

[2021-06-25 07:30] #2962 closed

[2021-06-25 07:55] #3542 closed

[2021-06-25 08:04] Jazzyboy07 commented on #3547
soffokl my node only seems to work only when a monitoring agent is connecting to in and for that time only my NAT status is success otherwise its just unknow and you can't connect to it try using you phone or something else rather than a monitoring agent. I am attaching the log files
[Node Logs.txt](https://github.com/mysteriumnetwork/node/files/6714560/Node.Logs.txt)

[2021-06-25 08:33] isaackielma commented on #3547
Tried connecting to the node while stating to be online on MAC desktop and Android client app, seems to not be connectable still. User is facing same issue on his end.
his new node ID:
0xaa87a9a08e26aeefdafc6908086c436c16cc99f2

[2021-06-25 10:46] untitledlt commented on #3535
It uses `local_ip` variable to create a link to `Node settings` and `local_ip` comes from the Node when it registers itself to MMN.
Reassigning this issue back to @etherunit as it should be assigned to someone who works with Node itself.

[2021-06-25 11:45] cvl commented on #2004
Same on Windows

[2021-06-25 12:28] Shrif88 commented on #3547
@soffokl I only was debugging  the issue last night and left it with OpenVPN on. But the logs I shared are when I was using WG. Here is a log message I found at the very beginning of startup sequence of docker container

![image](https://user-images.githubusercontent.com/15613849/123424626-19833180-d58f-11eb-8987-f840d31084a9.png)

[2021-06-25 15:46] cvl commented on #3462
@vkuznecovas any news on this?

[2021-06-25 15:48] cvl commented on #3505
Any news on this?

[2021-06-25 15:49] cvl commented on #3463
Any ideas on this? Quite an issue as folks can't use VPN.
CC: @chompomonim

[2021-06-25 22:21] isaackielma commented on #3546
@soffokl  uPnP / NAT Traversal / Hole punching has never worked in his environment for some reason.
Provider has disabled it by following instructions on "troubleshooting" section of the documentation, and then forwarded the ports on the router.
This configuration has been working fine until the 22nd of June.

[2021-06-27 09:48] StefanStieger commented on #3548
Also tried this yesterday on my raspberry pi and the same issue.

BTW: The link in the description to mystberry.zip is a dead end.
https://docs.mysterium.network/node-runners/setup/raspberry-pi/

Node version: 0.48.0
WebUI version: 0.3.0
OS: your provided raspberry pi image

[2021-06-28 03:16] soffokl commented on #3546
I see he reverted NAT hole punching and it online now and working.
We are constantly improving the connection possibilities. If it was not working a long time ago, it could be fixed now and work again.

[2021-06-28 04:11] soffokl commented on #3547
@isaackielma session to 0xaa87a9a08e26aeefdafc6908086c436c16cc99f2 works fine from both monitoring agent and my consumer. The problems you are pointing could be related to the consumer part since the provider looks fine.
![image](https://user-images.githubusercontent.com/8612618/123579078-f9ef4180-d7f8-11eb-80e9-333f6f29c08f.png)

[2021-06-28 04:13] soffokl commented on #3547
@Shrif88 your node looks fine and working. the logs you are showing is just warning and information message because you are running in docker. It does not affect the connection, it just pointing what options didn't work for the installation, and the node switching to other automatically.

[2021-06-28 04:15] soffokl commented on #3547
@Jazzyboy07 I see sessions from different countries to your node, people are using it.

[2021-06-28 06:53] Jazzyboy07 commented on #3547
I think those are just monitering nodes did you try to successfully connect to my Node? cuz I tried it hundreds of time it didn't even connect once. And no one I know has been able to connect to my node.

[2021-06-28 06:56] soffokl commented on #3547
@Jazzyboy07 this comment sent through your internet.
![image](https://user-images.githubusercontent.com/8612618/123593348-37ab9480-d810-11eb-8097-ac1ef585d773.png)

[2021-06-28 07:01] Jazzyboy07 commented on #3547
how are they connecting to me I can't connect to myself on the app? Can you try to connect to my PC without using a monitoring Node?

[2021-06-28 09:30] mdomasevicius commented on #3533
can you try it with node 0.49.0 ?

[2021-06-28 09:39] vkuznecovas commented on #3510
Errors fixed by using other wss endpoints.

[2021-06-28 09:39] #3510 closed

[2021-06-28 11:01] vkuznecovas commented on #3286
Done.

[2021-06-28 11:01] #3286 closed

[2021-06-28 12:28] vkuznecovas opened #3551 "Remove settle with beneficiary endpoint"
Remove settle with beneficiary endpoint, leave the logic, just get rid of beneficiary and cli.

[2021-06-28 12:29] vkuznecovas opened #3552 "Remove beneficiary from registration calls"
Should register with the default channel as beneficiary and not allow passing of custom beneficiary.

[2021-06-28 15:07] christopherchild commented on #3546
This is very similar to what I am experiencing with my node.

All was working correctly, up until I updated to 0.47.x. After this update I now see "Test failed" in the status. I have updated to 0.48 and no change.

Nothing has changed on my end in terms of the networking and I have never setup any port forwarding and changed anything with regards to this.

Have to help troubleshoot.

[2021-06-28 15:25] soffokl commented on #3546
@christopherchild could you share your node ID?

[2021-06-29 07:56] #3477 closed

[2021-06-29 07:57] #3450 closed

[2021-06-29 07:58] vkuznecovas opened #3555 "Remove proposal listening on NATS"
Currently, all consumers listen for proposals on nats. While it's a nice fallback to have, it creates a rather large load for limited gains.

[2021-06-29 07:58] #3268 closed

[2021-06-29 07:58] #3480 closed

[2021-06-29 07:58] #3471 closed

[2021-06-29 07:59] untitledlt commented on #3515
Can not reproduce it.

Possibly related fix in https://github.com/mysteriumnetwork/my.mysterium.network/pull/92

[2021-06-29 08:09] vkuznecovas commented on #3555
Take note that removing the flag is not enough, as that will kill announcement of proposals as well ;)

[2021-06-29 08:09] #3486 closed

[2021-06-29 08:17] eugenegoncharuk opened #3557 "Make Windows installer"
Create a new Windows Installer to simplify installation.
It should install:
- docker
- minimal app which should show icon to easy access Web UI

A tray app should also check periodically:
- container is running (if not, then start Docker Desktop and install myst image)
- localhost:4479 responds

[2021-06-29 08:20] #3478 closed

[2021-06-29 08:21] #3481 closed

[2021-06-29 08:27] #3516 closed

[2021-06-29 08:58] #3502 closed

[2021-06-29 09:07] #3407 closed

[2021-06-29 09:07] #3204 closed

[2021-06-29 09:09] eugenegoncharuk opened #3558 "Run Monitoring agent for Testnet v3"

[2021-06-29 09:21] #3187 closed

[2021-06-29 09:27] #3552 closed

[2021-06-29 09:27] #3551 closed

[2021-06-29 09:33] eugenegoncharuk commented on #3459
@venezuelan-folk We have a newer version of the Node released 0.48.0. Are you still facing with this problem?

[2021-06-29 11:35] chompomonim opened #3560 "Network interfaces are not cleaned up after session ends"
We need to clean up the network interfaces created for VPN sessions.

[2021-06-29 11:38] chompomonim commented on #3459
It should be fixed. If the problem will repeat, please open new issue.

[2021-06-29 11:38] #3459 closed

[2021-06-29 23:04] isaackielma opened #3561 "Unable to connect to docker node with android app, but good connection with windows app."
**Describe the bug**
"I almost always can't connect to my docker node by android app, but i have a good connection with my docker node by windows app. Sometimes i can connect by android app, but it happens so rarely. My node is 0x813d855bd73cdd5661ea0c375951c4e9feecc1c8"

**To Reproduce**
Steps to reproduce the behavior:
1. Open mobile app
2. Connect to node
3.  'Oops could not connect'
4. See err

[2021-06-30 03:14] soffokl commented on #3561
Does the android app use WiFi or mobile network when trying to connect to the provider?

[2021-06-30 09:52] Serque commented on #3561
i try to connect to my node via wifi and mobile network, but phone does not connect

[2021-06-30 10:14] 03c commented on #3546
@soffokl sorry for the delay.

My node ID: 0x4baa7f1864851266d8df12c0e8a22e20f0fc29f2

You can see from the below screenshot exactly what I am looking at. As you can see, there have been no connections from around the 21st (when I initially updated to 0.47.x).

I am happy to change settings on both my node and my router to diagnose the problem.

![image](https://user-images.githubusercontent.com/9

[2021-06-30 11:00] etherunit commented on #3533
Today, my node went offline again.

[code]

[2021-06-30 11:21] etherunit opened #3565 "Session destroy failed in 0.49"
A dead session hanging that can't be destroyed.
Provider_id: 0xdc9e998e603d4255fc44490dc886a6c938d43a0d
Node version: 0.49

[code]

[2021-06-30 12:14] elifyazici1 opened #3566 "Send push notification for African users to encourage them running exit nodes [Elif]"

[2021-06-30 13:34] soffokl commented on #3546
@03c hey, we just released a 0.50.1 version with fixes. Could you try to update it? I think it could help to resolve the problem with your node.
Please let me know once you update, I'll check it again.

[2021-06-30 13:34] #3555 closed

[2021-06-30 13:47] 03c commented on #3546
@soffokl done, showing 0.50.1 in the UI. Not sure how long it would take MMN to update. But it's still showing "Test failed" and also saying "No services found".

[2021-06-30 13:50] 03c commented on #3546
Services are now showing in MMN.

[2021-06-30 13:52] soffokl commented on #3546
@03c it's online now, seems to work fine. Thanks for your fast assistance.

[2021-06-30 13:52] 03c commented on #3546
Looking better :)

![image](https://user-images.githubusercontent.com/996720/123972368-b0e2ed00-d9b2-11eb-9491-4f454fec1e4a.png)

Thanks very much!

[2021-06-30 15:33] cvl opened #3567 "[Windows, bug] can't start node: could not get consumers channel: no contract code at given address"
**Describe the bug**
User is having trouble starting node. I can see errors like 2021-06-30T15:09:53.101 ERR source/session/pingpong/consumer_balance_tracker.go:356 > Could not get consumer channel error="could not get consumers channel: no contract code at given address"

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6742140/mysterium-node.log)

**Environment (please c

[2021-06-30 21:54] chompomonim commented on #3179
We already have private key import export via CLI.
https://docs.mysterium.network/resources/faq/#i-want-to-backup--restore-my-identity-using-cli-how-should-i-do-that

[2021-06-30 21:54] #3179 closed

[2021-06-30 21:59] #2997 closed

[2021-06-30 22:00] #3097 closed

[2021-06-30 22:01] #2885 closed

[2021-06-30 22:02] #2960 closed

[2021-06-30 22:05] chompomonim commented on #3463
Could you please attach full logs to the issue as described in https://github.com/mysteriumnetwork/mysterium-vpn-desktop#logging
For windows that would be (3 locations - app, node and supervisor logs respectively):

%USERPROFILE%\AppData\Roaming\MysteriumVPN\logs*.log
%USERPROFILE%.mysterium\logs\mysterium-node.log
%PROGRAMDATA%\MystSupervisor\myst_supervisor.log

[2021-06-30 22:08] #3229 closed

[2021-07-01 02:59] soffokl commented on #3561
@Serque thanks for the information. Could you please send a report from the app? It will send logs so we could analyze the problem.

[2021-07-01 03:50] #3546 closed

[2021-07-01 06:23] cvl commented on #3463
No, because node doesn't send those logs. If you need more logs than node sends, it would be a good idea to implement this.
I can't ask user to mingle with log files, this is a straight path to losing a customer.

This is unrelated to app behavior, nor supervisor.

This is a node problem. It blocks traffic only on residential IPs, and only browser traffic (therefore I assume port 80).

[2021-07-01 06:42] vkuznecovas opened #3568 "BC lookups via multiple endpoints"
Currently, we're using a single endpoint for each chain.

We need to have a mechanism to fall back to different endpoint should the first one fail.

[2021-07-01 06:51] vkuznecovas opened #3569 "If user is offchain, do less BC lookups"
They are not needed in that case.

[2021-07-01 10:04] eugenegoncharuk opened #3571 "Low connections success rate if using Mobile Internet on consumer side"
Using the latest Mysterium VPN mobile app and Mobile internet connections have a very low sessions creation success rate.

Steps to reproduce the behavior:
1. Download the latest Android App
2. Try to create sessions in different countries/providers
3. Observer low success rate

Expected to be a much higher success rate.

[2021-07-01 11:35] cvl opened #3572 "[Windows, bug] Connection keeps dropping, after drop, no Internet connection until computer restart"
**Describe the bug**
User reported, that with node 0.47.2 connection keeps dropping, after connection drop, he doesn't have Internet (even if he disconnects and quits the app), until he restart the computer.

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6747760/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.47.2
 -

[2021-07-01 11:59] Serque commented on #3561
How can i do that?

[2021-07-01 12:25] Serque commented on #3561
i sent bug report from android app

[2021-07-01 12:25] tadaskay commented on #3228
Still relevant

[2021-07-01 17:21] lollapalooza1973 commented on #3546
I'm still having issues.
Node has updated to 0.50.1, but nothing has changed.
MMN shows "test failed".

I'm using port-forwarding, because NAT traversal does not work in my environment.
Here's the options in /etc/default/mysterium-node
DAEMON_OPTS="--p2p.listen.ports=51820:52075 --experiment-natpunching=false --keystore.lightweight"
SERVICE_OPTS="--wireguard.listen.ports=52820:53075 wireguard"

Ab

[2021-07-02 03:28] soffokl commented on #3561
@Serque thanks for the report, I have received it. It's still unclear what is happening, but we are trying to analyze the problem to resolve it.

[2021-07-02 03:31] soffokl commented on #3546
@lollapalooza1973 Could you share your node ID?

[2021-07-02 06:13] lollapalooza1973 commented on #3546
@soffokl here it is: 0x641cb8019932b0fc112eeb1c265a4e93811c9086

[2021-07-02 06:21] soffokl commented on #3546
@lollapalooza1973 I see it was working when nat hole punching was active a few days ago.
And another note, you have prices a bit higher than allowed, so the monitoring agent does not check your node.
Could you please adjust pricing and enable nat hole punching? I'll check your node again after it.

[2021-07-02 06:45] Serque commented on #3561
same problem when i trying to connect from PC

[2021-07-02 06:46] Serque commented on #3561
same problem when i try to connect from pc

[2021-07-02 06:47] soffokl commented on #3561
@Serque we did another fix that could help you, but it's not released yet. I hope we will be able to release it today.

[2021-07-02 06:49] untitledlt commented on #3479
I guess it's not MMN related.
Possibly should be assigned to someone who works with webUI

[2021-07-02 08:36] cvl opened #3575 "[android] user can't connect, multiple errors (node 0.50.1)"
**Describe the bug**
Received the report that user can't connect to nodes. I can see multiple errors in the logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6753264/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.50.1
 - OS: Android

[2021-07-02 08:41] soffokl commented on #3575
Try to use 0.51.0, we did some fixes for that.

[2021-07-02 08:47] cvl commented on #3575
Thanks

[2021-07-02 08:47] #3575 closed

[2021-07-02 08:52] cvl opened #3576 "nats: no servers available for connection""
**Describe the bug**
User sent logs, I can see the error nats: no servers available for connection" in the logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6753349/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.50.1
 - OS: Linux

[2021-07-02 08:57] cvl opened #3577 "[windows] could not request consumer data from hermes: resource not found"
**Describe the bug**
Got logs from user, I can see multiple errors:
could not request consumer data from hermes: resource not found
then Could not get consumer channel error="could not get consumers channel: no contract code at given address"
Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6753397/mysterium-node.log)

**Environment (please complete the following informati

[2021-07-02 09:04] cvl opened #3578 "[android] error="write udp [::]:45059->239.255.255.250:1900: sendto: operation not permitted""
**Describe the bug**
User sent logs. I can see error
error="write udp [::]:45059->239.255.255.250:1900: sendto: operation not permitted"
Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6753450/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.50.1
 - OS: Android

[2021-07-02 09:09] tomasmik commented on #3577
That error actually means nothing in this case. That consumer is known to hermes, here: https://testnet2-hermes.mysterium.network/api/v1/data/consumer/0xd785d3fe64b7f793a3bbf3790a0b0dc1c8b8bcec

That error is something you can get on initial launch, but it should in no way interfere with the node function. As soon as you become offchain or register your identity, these errors will disappear.
Logs

[2021-07-02 09:09] #3577 closed

[2021-07-02 09:12] tomasmik commented on #3576
This is a known issue that sometimes occurs. From my testing this could be related to a non stable/slow internet connection.
@soffokl  please take a look in to this one.

[2021-07-02 09:13] soffokl commented on #3561
@Serque could you try to update your node to 0.51.0 version?

[2021-07-02 09:28] Serque commented on #3561
it is done

[2021-07-02 10:51] soffokl commented on #3561
I see. Waiting for the android release to test It on the updated android version.

[2021-07-02 11:28] etherunit commented on #3535
@mdomasevicius Can you please look into it?

[2021-07-02 12:52] lollapalooza1973 commented on #3546
@soffokl
I have enabled NAT traversal / hole punching, and also lowered the prices. I still have the same issue.
Here's the current options of /etc/default/mysterium-node
DAEMON_OPTS="--nat-port-mapping=false --keystore.lightweight"
SERVICE_OPTS="openvpn,wireguard"

[2021-07-02 13:27] eugenegoncharuk commented on #3515
This can be fixed by implementing this task https://github.com/mysteriumnetwork/my.mysterium.network/issues/86

[2021-07-02 13:44] eugenegoncharuk commented on #3515
It's related to UpdateMonthlyReports scheduler job
$schedule->command(UpdateNodeMonthlyReports::class)
    ->hourly();
    run once in 1 hour

[2021-07-02 21:31] chompomonim opened #3579 "Add quality metrics into NodeUI"
It would be nice to show for users their quality metrics (how they looks for people in different regions). There could be separate tab in NodeUI where user could see his quality metrics [country | bandwidth | latency | quality | sessions] and possibility to sort by all that fields.

[2021-07-02 21:34] chompomonim opened #3580 "Add possibility to block torrent traffic"
Many providers are worried about torrent traffic sent via them. We may add possibility to block certain ports / protocols to decrease torrent traffic risk (it is very hard to ensure that no torrent traffic will pass through)

[2021-07-02 21:40] chompomonim opened #3581 "Add possibility to run exit node on non Debian based Linux distributions"
At the moment only debian like (e.g. Ubuntu) Linux users are able to run mysterium exit nodes. We provide .deb packages via launchpad, but there are many Linux users who're using different type of distributions.

We may build either snap or rpm packages to cover bigger range of potential users.

[2021-07-02 21:51] chompomonim opened #3582 "Update CONTRIBUTING.md"
Our CONTRIBUTING.md file is out dated and is not really helping for new person to start developing node. We need to update it and also to mention in README.md on how to start developing (with list to deeper documentation in CONTRIBUTING.md)

[2021-07-02 21:53] chompomonim commented on #1608
I think this is already solved in recent releases.

[2021-07-02 21:53] #1608 closed

[2021-07-02 21:53] #1396 closed

[2021-07-02 21:55] #1595 closed

[2021-07-02 21:59] #1230 closed

[2021-07-02 22:00] #947 closed

[2021-07-02 22:01] #1071 closed

[2021-07-02 22:03] chompomonim commented on #1181
I believe we already reporting NAT traversal metrics

[2021-07-02 22:03] #1181 closed

[2021-07-02 22:03] #2753 closed

[2021-07-02 22:05] #1265 closed

[2021-07-02 22:05] #1276 closed

[2021-07-02 22:07] #1314 closed

[2021-07-02 22:07] #1235 closed

[2021-07-02 22:08] #1233 closed

[2021-07-02 22:11] #1645 closed

[2021-07-02 22:19] chompomonim opened #3583 "Advanced setting in NODE UI"
This is part of #2452 epic which should give more tools for node runners to setup their nodes and ensure better connect-ability rate.

In NodeUI setting page (testnet v3) there should be possibility to:

- [ ] pass own blockchain RPC `client.rpc:`
- [ ] allow enable/disable NAT hole punching
- [ ] allow enable/disable UPnP
- [ ] allow to set own set of IP addresses (used for port forwarding) "port

[2021-07-02 22:23] lollapalooza1973 commented on #3546
@soffokl Node is updated to 0.51.0, but nothing has changed.

[2021-07-02 22:40] chompomonim opened #3584 "Add external checks to ensure that manual forwarding is set correctly"
In some cases ports may be firewalled even when ports are forwarded. It could be job of monitoring agent to ensure if ports are configured correctly.

This should be optional check, if monitoring agent is down, node should simply ignore lack of such checks.
NodeUI could show status of such check and could show notification if ports are not accessible from the Internet.

[2021-07-02 22:44] chompomonim opened #3585 "Add additional check to ensure that UPnP works correctly"
It should be enabled not only on provider's router but also passed all the way towards public Internet.

[2021-07-02 22:46] chompomonim opened #3586 "Monitoring agent should be not charged for checks"

[2021-07-02 22:48] chompomonim opened #3587 "Rename `experiment-natpunching` to `nat_punching`."
It is not experimental anymore ;)

We may have both params for now doing same thing, but `experiment-natpunching` should be deprecated during Mainnet release.

[2021-07-02 22:54] chompomonim opened #3588 "Allow changing traversal priorities"
At the moment traversal mechanism priorities are hard-coded.

1. Check if node is running on **public address**.
2. Try using **UPnP**
3. **NAT hole punching**
4. Manual port forwarding.

We could make that priorities configurable via config. The same config could disable some of them (e.g. if `nat_traversal: ["upnp", "port_forwarding"] then nat hole punching and public address checks could be not

[2021-07-02 23:23] chompomonim opened #3589 "Show monitoring agent status and traversal method"
NodeUI should show monitoring agent status. It should also say which traversal method (last connection method) was used. This should better describe current node state.

<img width="1680" alt="Dashboard" src="https://user-images.githubusercontent.com/153896/127460138-9b566553-47b7-48d5-8e3f-ecf453d09552.png">

[2021-07-02 23:25] chompomonim opened #3590 "NAT status improvements"
NAT status should also show last connected method and could describe better current state

[2021-07-02 23:28] chompomonim commented on #3583
Add visual tools for easier manual port forwarding setup (settings in NodeUI, links to guides and video tutorials, advice according router configurations)

[2021-07-02 23:57] chompomonim commented on #1386
This is similar to #2452 and we're going to work on it instead.

[2021-07-02 23:57] #1386 closed

[2021-07-03 08:50] lollapalooza1973 commented on #3546
@soffokl I think I found what is the issue.
In my LAN there's a device in the DMZ (and I need it there).
If I disable the DMZ, NAT traversal / hole punching works fine (I can establish a connection to my node).

WHen I enable the DMZ, NAT traversal / hole punching does not work.

I tried also to leave DMZ disabled, and use "port forwarding" options in /etc/default/mysterium-node, together with rel

[2021-07-04 08:53] cvl opened #3591 "[android] failed to create TUN device on 0.51.0"
**Describe the bug**
Couldn't connect to node on emulator. I can see errors like "failed to create TUN device" and more.
Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6759617/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.51.0
 - OS: Emulator - Android 11 (pixel 4, api 30)

[2021-07-05 03:00] soffokl commented on #3546
@lollapalooza1973 your price per hour still looks high.
These are the max prices that NodeUI allows users to set:
![image](https://user-images.githubusercontent.com/8612618/124411890-38dc4480-dd6f-11eb-8324-f8c459eba158.png)

[2021-07-05 06:10] lollapalooza1973 commented on #3546
@soffokl you're right.
But in the Myst client app I see that just a few people follows that rule.
Furthermore, the app's default filter is set to 0.0054 Myst per hour (and max is 0.0108), which is far higher that 0.00018
![image](https://user-images.githubusercontent.com/34000198/124424958-2dd1e600-dd68-11eb-892a-070f1f2da82a.png)

And in any case this does not fix the issue I have with the DMZ/po

[2021-07-05 08:10] lollapalooza1973 commented on #3546
@soffokl
I moved the slider to the maximum and saved, and now I see status "online" on MMN.
Anyway, I still can't run the node with port-forwarding. How do I fix this?

[2021-07-05 10:09] elifyazici1 opened #3592 "look into outbound intercom userbase (which emails are coming from node-runner campaign site)"

[2021-07-05 10:10] tomasmik commented on #3520
This issue should be resolved now. A re-registration attempt will be required either using the CLI or removing the current identity all together and restarting node.

[2021-07-05 10:10] #3520 closed

[2021-07-05 10:32] soffokl commented on #3546
I cannot say what it's not working as expected. It very depends on the router and configuration.
For the mysterium node port needs to be forwarded and working, if something is blocking it node will not receive packets.

[2021-07-05 10:38] lollapalooza1973 commented on #3546
@soffokl I can tell that it was correctly working until some days ago (and I did not change the router).
I can re-enable port-forwarding on the node (and on the router), and provide the logs for you to check.
How do I send the logs?

[2021-07-05 10:41] soffokl commented on #3546
@lollapalooza1973 Report issue from the NodeUI, mention me as `@soffokl` in the text.

[2021-07-05 11:22] lollapalooza1973 commented on #3546
@soffokl done... I used the "report issue" button.
Thanks.

[2021-07-05 15:31] lollapalooza1973 commented on #3546
@soffokl kindly let me know if you need something else.
I'll cross fingers for the issue to be fixed. Thank you.

[2021-07-06 04:57] soffokl commented on #3546
@lollapalooza1973 sorry missed the thing from your port forwarding screenshot. You have MYST P2P for `TCP` only, but `UDP` is required for the connection.

[2021-07-06 06:29] lollapalooza1973 commented on #3546
@soffokl Thanks! It's working now!

[2021-07-06 07:35] cvl opened #3594 "No connection state change when connecting/disconnecting. Can't disconnect for few minutes."
**Describe the bug**
Tried to connect: the connection state doesn't change (says disconnected). Yet it was actually trying to connect, eventually connected.

<img width="626" alt="Screenshot 2021-07-06 at 09 27 37" src="https://user-images.githubusercontent.com/100252/124560580-a35fb400-de45-11eb-9885-9debd7063e85.png">

Then tried to disconnect, the state again doesn't change. After a (long) whil

[2021-07-06 07:50] cvl commented on #3463
Any updates on this?

[2021-07-06 07:52] cvl commented on #3505
Any updates on this?

This is a critical feature of any VPN.

[2021-07-06 07:52] cvl commented on #3462
Any updates on this?

[2021-07-06 15:39] Jayto1 opened #3595 "Bosnia and Herzegovina formatting error"
**Describe the bug**
Bosnia and Herzegovina displaying incorrectly in desktop app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Desktop App
3. Scroll down to "Bosnia and Herzegovina"
4. See error

**Expected behavior**
Bosnia and Herzegovina will be formatted incorectly

**Screenshots**
![image](https://user-images.githubusercontent.com/79473923/124628329-5b915a80-de4e-11eb-9774-499c

[2021-07-06 15:48] Jayto1 opened #3596 "Bounty Payout History"
**Describe the bug**
"Residential payout MYST" "Residential payout USD" "Global payout MYST" and "Global payout USD" displaying total amounts earned **not** actual payout amounts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MNM
2. Click on Bounty History
3. Scroll to Payout Headers
4. See error

**Expected behavior**
Payout headers will list **total** earned for that month not **act

[2021-07-06 15:56] Jayto1 opened #3597 "Myst sorting error in Residential Leaderboard"
**Describe the bug**
Sorting MYST earned in Residential IP leaderboard does not display MYST earned over 99

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://my.mysterium.network/leaderboard
2. Click on MYST header
4. See error

**Expected behavior**
Nodes displayed will have earned under 100 MYST

**Screenshots**
![image](https://user-images.githubusercontent.com/79473923/124631

[2021-07-07 10:23] lollapalooza1973 opened #3599 "Huge logs files - /var/log partition gets 100% full in very short time"
If there's a small number of connections to the node, the daemon.log and syslog files are just behaving normally.
They grow up slowly, and rotate when it's scheduled.

If there are many connection to the node, the logs are growing incredibly fast, and the /var/log partition gets full in just a few hours (my /var/log partition is 80 GB in size), and logrotation will not work, as there's no free spa

[2021-07-07 10:27] #3568 closed

[2021-07-07 11:49] #3569 closed

[2021-07-07 14:20] eugenegoncharuk opened #3601 "MMN need to write laravel logs to stdout"
MMN need to write laravel logs to stdout

[2021-07-08 03:05] soffokl commented on #3561
Android app version 1.0.4 released, should be available for download soon.

[2021-07-08 10:55] tomasmik opened #3602 "Testnet3: NodeUI sets no stake when registering"
![image](https://user-images.githubusercontent.com/40318863/124910377-33436080-dff4-11eb-946c-33a6d6af44dd.png)

This actually makes me a consumer after registration

[2021-07-08 11:23] mdomasevicius commented on #3602
I will set 10 MYST as agreed
@chompomonim we discussed 0 stake here and payment team disagrees

[2021-07-08 14:02] eugenegoncharuk opened #3604 "Introduce new endpoint in MMN for changing beneficiary address"
Need to have new endpoint in MMN that would receive close to this json
{
"beneficiary": "0x00000012312312312312312312313213",
"signature": "0x12312521AFAFAFAFAFAFAFAFAFAFAFAFAFAFFAFAFAFAFFAFAFAAFAFAFAFAFAFAFAFAFAFAFAFAFAF"
}

Then do ecrecover on signature with the beneficiary and get the signer. If this signer matches one in our MMN DB then update the DB with new data.

ecrecover - function can b

[2021-07-08 17:23] Serque commented on #3561
the issue fixed

[2021-07-09 02:02] #3561 closed

[2021-07-09 15:15] frissia commented on #3543
Same issue here !

[2021-07-10 08:13] chompomonim commented on #3602
I think we should make some additional changes in transactor and in node on process how we're going to open payment channels.

1. Now we have separate function for opening payment channel `function openConsumerChannel(address _hermesId, uint256 _transactorFee, bytes memory _signature)` or even one without fee `function openConsumerChannel(address _identity, address _hermesId)`. Beneficiary will be

[2021-07-10 09:03] Waldz opened #3605 "Some HTTP requests fails with "cannot unmarshal DNS message""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Establish connection to 0xf7a66181e4eba8767c6ca2d1a38d11f22c631534 (with provider DNS)
2. Click on '....'
3. Scroll down to '....'
4. See error

**Environment (please complete the following information):**
 - Node version: 0.50.0-rc0
 - OS: Docker alpine image on Debian ho

[2021-07-11 18:00] cvl opened #3606 "[mac] 0.51.0 node doesn't start, multiple errors: Could not recover Grand Total Promised, could not get consumers channel, protocol wrong type for socket"
**Describe the bug**
User can't get node up and running. I can see multiple errors: Could not recover Grand Total Promised, could not get consumers channel, protocol wrong type for socket...

Logs:
[mysterium-node 48.log](https://github.com/mysteriumnetwork/node/files/6797399/mysterium-node.48.log)

**Environment (please complete the following information):**
 - Node version: 0.51.0
 - OS: Mac

[2021-07-11 18:29] tomasmik commented on #3606
I would assume I just fixed this. Registrations were getting stuck the whole day today.
There are improvements coming on monday to reduce such instances.

[2021-07-11 18:29] #3606 closed

[2021-07-12 05:33] elifyazici1 opened #3608 "integrate google tag manager into the new campaign site and all buttons"

[2021-07-12 14:10] cvl opened #3610 "[feature request] node logger should display user timezone"
Sometimes it's very useful to understand when things happened.

At the moment logger timestamps in user's local time.
Suggest we have the following format:
2021-07-09T12:21:33.596 (GMT+0)

I.e. include the timezone.

[2021-07-12 14:37] Vineet7805 opened #3611 "Issue with reward calculation"
Hi,

I see that my node is getting used but sometimes the live earning on my dashboard is not correct. The total of all MYST is also matches the dashboard earnings but when I check the live earnings on MMN, live earning is shown correctly but the total is incorrect. The total is same as the shown on my dashboard.

Please help me fix the issue.

My Dashboard live earning:
US ,02:41:03 ,2021-07-10,

[2021-07-13 05:06] etherunit commented on #3533
After testing it again, it didn't happen anymore.

[2021-07-13 06:30] #3576 closed

[2021-07-13 06:48] lollapalooza1973 opened #3612 "Earnings in Node UI are always 0.0000000 MYSTT"
**Describe the bug**
When I check session list on Node UI, I see the "earnings" column always shows 0.

**To Reproduce**
Log on to Node UI.
Click on "View all sessions".

**Expected behavior**
I would expect to see earnings for each session, depending on the prices set in the interface.

**Screenshots**
![image](https://user-images.githubusercontent.com/34000198/125404421-e3c7b080-e3b6-11eb-977a-c

[2021-07-13 07:44] #3501 closed

[2021-07-13 08:07] tomasmik opened #3613 "Testnet3: Finalize beneficiary logic"

[2021-07-13 08:08] eugenegoncharuk opened #3614 "Publish testnet3 artifacts for beta testers"

[2021-07-13 08:08] chompomonim opened #3615 "Referral program"
Mysterium dVPN app has a lot of consumers and some of them are willing to promote it in exchange of some rewards.

We would like to give ability for users to generate referral code and share to their friends or their community on social networks.

When new user will apply this code, he should get 3 MYSTT tokens to try service. His identity registration should be also free (similar logic will apply

[2021-07-13 08:10] eugenegoncharuk opened #3616 "MMN migration to testnet3"

[2021-07-13 08:46] #3417 closed

[2021-07-13 09:08] chompomonim opened #3618 "Test windows installer (for exit nodes)"
Now we do have exit node installer for Windows 10. It will install and run Mysterium node in docker container and configure it without a need to touch command line. It will also have one click upgrade feature.

Now we need to test it. You can download release preview from here:
[https://github.com/mysteriumnetwork/myst-launcher/releases](https://github.com/mysteriumnetwork/myst-launcher/releases)

[2021-07-13 09:08] chompomonim opened #3619 "Sign windows installer for exit node"

[2021-07-13 09:14] chompomonim opened #3620 "Ensure that AVADO nodes are auto upgrading correctly"

[2021-07-13 09:41] vkuznecovas opened #3621 "Force provider stake to 0"
Providers will need to register with 0 stake on testnet3, force this.

[2021-07-13 09:48] #3533 closed

[2021-07-13 09:53] chompomonim opened #3622 "Auto upgrade for docker nodes (installed with windows installer)"

[2021-07-13 10:23] Zensey commented on #3622
Probably we can just do `docker pull mysteriumnetwork/myst:latest` once per week, when launcher starts.
However it needs to be checked if contaner's data stays survives this.

[2021-07-13 11:31] cvl commented on #3462
Guys, are we still communicating?

[2021-07-13 11:58] #3621 closed

[2021-07-13 12:44] untitledlt commented on #3604
https://github.com/mysteriumnetwork/my.mysterium.network/pull/97
https://github.com/mysteriumnetwork/my.mysterium.network/pull/99

[2021-07-13 15:24] kabirzohaib22 opened #3624 "My Node Not Updating Earnings"
My node is not updating any earnings since past week. it's stuck on that same value.
Neither in the dashboard nor in the MMN network website.
![2121](https://user-images.githubusercontent.com/87380999/125478263-977e4262-94a6-4d9f-9a31-7172ea8ff9be.JPG)
![1212](https://user-images.githubusercontent.com/87380999/125478275-f8ee8e70-6e48-41f7-9a5f-b9c97459309a.JPG)

Node is Running On RPI 4B (Raspbian

[2021-07-13 15:38] vkuznecovas opened #3625 "testnet3 discovery column price_per_gib missing"
discovery-1 discovery 2021-07-13T15:36:01.000 DBG go/src/github.com/mysteriumnetwork/discovery/proposal/service.go:98 > Expired proposals: 0
discovery-0 discovery 2021-07-13T15:36:01.000 ERR go/src/github.com/mysteriumnetwork/discovery/proposal/api.go:104 > Failed to list proposal metadata error=“scany: column: ‘price_per_gib’: no corresponding field found, or it’s unexported in v3.Metadata”
disco

[2021-07-13 16:59] DrOberstTux opened #3626 "panic: runtime error: index out of range [0] with length 0"
**Describe the bug**
After a while running the node there is a panic causing the node to crash
Unfortunatly at this moment I cannot provide any more error details since I was running the node with log-level="error"
Will try to reproduce the error and edit this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. docker run --restart unless-stopped --network myst0 --cap-add NET_ADMIN -d -p

[2021-07-13 21:35] chompomonim commented on #3505
This task is client side implementation, we're working on #3506

[2021-07-13 21:36] chompomonim commented on #3463
We tried looking on this, but we're not able to reproduce. Later this week another developer will try to look at it, maybe with his setup it will be possible to reproduce the issue.

[2021-07-14 06:02] #3626 closed

[2021-07-14 06:30] isaackielma commented on #3624
0xfd4b5b24903463589002935891f13650f0b69f8e

Provider also experiencing the same issue. earnings not updating on dashboard

[2021-07-14 07:14] vkuznecovas commented on #3625
Fixd.

[2021-07-14 07:14] #3625 closed

[2021-07-14 08:24] cvl commented on #3505
Hmm, please don't spend time on "documentation", which is not needed.
Please focus just on making it work.

[2021-07-14 09:00] vkuznecovas opened #3629 "Discovery testnet3: json logging"
Use json logger in testnet3 discovery.

[2021-07-14 11:57] eugenegoncharuk opened #3630 "add support for multiple monitoring servers"

[2021-07-15 07:34] etherunit opened #3631 "MacOS client app got stuck in the loading screen"
**Describe the bug**
 The Mac client app got stuck in the loading screen. User claims that last time it started to work after a few reboots but now nothing works (the same situation is with Portals app that he is currently subscribed to).

**Screenshots**
<img width="549" alt="Screenshot 2021-07-15 at 10 32 05" src="https://user-images.githubusercontent.com/60128746/125747746-70a0224f-5159-4958-bb

[2021-07-15 09:49] tomasmik commented on #2004
Tested on linux, disconnect seems to work, but together with the disconnect it also brings down DNS configuration (and maybe something else?) and I'm forced to restart the machine. Will investigate further.

[2021-07-15 10:34] cvl commented on #2004
I've tested this on Mac & Windows, didn't test it on Linux.

General note: almost in all cases the buggy behavior follows the crapiness pattern: Linux > Mac > Windows.
I.e. if there's any possible bug, test it on Windows first, as it's most likely to fail. Linux is the most likely to succeed, so not worth trying first.
Also, 80% VPN users are on Windows, and 5% are on Linux, so fixing Linux proble

[2021-07-15 11:13] untitledlt opened #3634 "Remove dependency on Beneficiary from hermes response"
Currently cronjob takes Beneficiary address from hermes and pushes it to database as `waller_address`.
Leaderboard (and maybe something else) depends on that when creating a leaderboard.
From now on we have new endpoint for getting/setting beneficiary for each node.
Make a switch from `wallet_address` in reports to user entered beneficiary address.

[2021-07-15 11:30] tomasmik commented on #2004
I understand your point. Honestly I'd say that from what I tested, linux is the worst. I disconnect but am left with no internet connection 🤷🏻 As mentioned before I will continue to investigate this, but this probably will not be a quick solution.

[2021-07-15 11:37] etherunit opened #3635 "Write educational content for Avado users"
We lack of educational content (guides) for node operators running their nodes on AVADO Box.

Technical writings to be posted here: https://docs.mysterium.network/node-runners/setup/avado/

[2021-07-15 11:47] cvl commented on #2004
Happens on other OS as well (some folks report that after disconnecting/connection drop they're left without Internet connection).

[2021-07-16 07:18] vkuznecovas opened #3637 "Tagging service"
Create a tag service

Tag service should allow to add tags to proposals. These tags could be things like "netflix", "hulu", ...

The tag service should:

- [x] 1. Allow to create a tag.
- [x] 2.  Allow to update a tag.
- [x] 3. Allow to delete a tag.
- [x] 4. Allow to assign a tag to a given identity.
- [x] 5. Allow to remove an assigned tag from a given identity.
- [x] 6. Allow to list all identi

[2021-07-16 07:19] vkuznecovas opened #3638 "Tag management via universe"
Add tag management dashboard to universe:

The universe should allow to edit the tags in the tag service.

1) Allow to create a tag.
1) Allow to update a tag.
1) Allow to delete a tag.
1) Allow to see all identities that have tags assigned to them(paging, probably).
1) Allow to assign a tag to a given identity.
1) Allow to remove an assigned tag from a given identity.

Ideally, identities should b

[2021-07-16 07:21] vkuznecovas opened #3639 "Extend proposals to include tag info"
1) Proposal data should be enriched with the tag data from the tag service and returned via the proposal endpoint.

See tags property below.
[code]

[2021-07-16 07:21] #3629 closed

[2021-07-16 07:33] Waldz commented on #3637
IMHO not needed

Not `identity`, but `unique proposal` everythere e.g. "Allow to assign a tag to a given proposal."

[2021-07-16 07:46] Waldz commented on #3639
Maybe `tags` should go under "quality", i see it as additional quality metric, very similar to `monitoring_failed`

[2021-07-16 08:53] vkuznecovas commented on #3639
I'd rather they were separate as we might tag things that are not quality related. Besides, it comes from a different service.

[2021-07-18 03:32] Vineet7805 opened #3640 "Your node does not have a wallet address."
Hi Team,

I have been facing the issues with mysterium network. It is exactly the same issue raised earlier.
https://github.com/mysteriumnetwork/node/issues/3391

Issue 3391 was closed without giving solution. I am seeing on telegram, this issue is happening to others.
Also on my https://my.mysterium.network/leaderboard, I am seeing only one node. Earlier it was showing all the to 600 records.

Th

[2021-07-18 04:37] xpecex commented on #3640
My node is having the same problem, tested with versions 0.48.0 and 0.52.0 both have the same error.

Error message on log:
2021-07-18T04:27:10.311 ERR source/session/pingpong/consumer_balance_tracker.go:379 > align with hermes failed with a critical error, offchain balance out of sync error="could not request consumer data from hermes: could not unmarshal error body: invalid character 'B' after t

[2021-07-18 09:00] cvl opened #3641 "Many users down, offchain balance out of sync error, failed to connect to NATS servers etc"
**Describe the bug**
Many users reported that nothing works. Seems like Mysterium backend is down again?
I can see errors like failed to connect to NATS servers, align with hermes failed with a critical error, offchain balance out of sync error="could not request consumer data from hermes: could not unmarshal error body: invalid character 'B' after top-level value"

Logs:
[mysterium-node 50.log](h

[2021-07-19 01:16] chompomonim commented on #3641
This should be fixed by now.

[2021-07-19 01:16] #3641 closed

[2021-07-19 01:17] chompomonim commented on #3640
Have you added you beneficiary/payout address in NodeUI ([your_ip]:4449) settings section?

[2021-07-19 04:49] xpecex commented on #3640
Yes, it was already configured and working, but it suddenly stopped working, including the Residential Leaderboard (https://my.mysterium.network/leaderboard) only appears one node, now (without any intervention from me) it works again, both my node as the Leaderboard listing.

[2021-07-19 06:29] isaackielma opened #3642 "Node is online, latest version and still not discoverable in app"
**Describe the bug**
Node seems to be online and working correctly. However, address cannot be identified in the app.

0xf770f0f5eca91de957db8f93800bb236d3618823

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mysterium VPN app
2. Paste address on search bar
3. Address does not appear

**Expected behavior**
Node should be listed in both apps mobile and desktop.

**Environment (please c

[2021-07-19 08:01] isaackielma opened #3643 "Our monitoring agent tried to connect to your node, but something went wrong"
**Describe the bug**
0xe2fd9dbe32cfde3c9205eb82b45f7e509069db46 node reading as test failed no sessions at all. Provider has said to have forwarded ports

**Environment (please complete the following information):**
OS:
Ubuntu 18.04 LTS
Architecture:
linux/amd64
Node version:
0.52.0

**Additional context**

[2021-07-19 08:47] speedf1 opened #3644 "Incorrect version of node reported in https://my.mysterium.network/"
Hi, one of my nodes is reported in the website (https://my.mysterium.network/)  as running version 0.47.1. However when I query the node with myst --version, I get 0.52.0

This is running on a Raspberry Pi 4

Node ID is 0x968f590c794b65397d9b605ab55466fb5423b4da

[2021-07-19 08:57] tomasmik commented on #3637
Service created, will be releasing to testnet3: https://github.com/mysteriumnetwork/badger

[2021-07-19 08:57] #3637 closed

[2021-07-19 09:01] #3644 closed

[2021-07-19 10:50] tomasmik commented on #3638
Badger is alive and ready to be implemented. Swagger is here: https://testnet3-badger.mysterium.network/swagger/index.html

[2021-07-19 10:53] tomasmik commented on #3613
- node sends beneficiary to MMN and stores in local db
- when asked about runner wallets MMN responds with those wallets.

should be good to go.

[2021-07-19 10:53] #3613 closed

[2021-07-19 10:59] vkuznecovas commented on #3639
Testnet3 has this now, no plans to move it to testnet2 though.

[2021-07-19 10:59] #3639 closed

[2021-07-19 11:31] Snawoot opened #3645 "Potential MITM on P2P service channel"
### Background

Mysterium node uses some flow to establish P2P connection (`p2p.Channel`) to provider node which can be roughly described like this:

1. Provider node listens for request messages on public message broker (`nats://testnet2-broker.mysterium.network:4222`) topics related to it's Provider ID and service pair.
2. Consumer node initiates connection, sending public ECDHE part signed with

[2021-07-19 11:41] vkuznecovas commented on #3645
Good catch, I'll add it to todo, we'll fix it :)

[2021-07-19 11:42] tomasmik commented on #3640
This was probably due to an issue we have with one of our services. It is now solved?

[2021-07-19 12:12] tomasmik opened #3646 "Affiliates should see the amount of times a code was used"

[2021-07-20 07:48] eugenegoncharuk opened #3648 "Check registration email sending in mmn3.mysterium.network"
Check registration email sending in mmn3.mysterium.network

[2021-07-20 07:52] vkuznecovas opened #3649 "Discovery healthcheck"
Proper healthcheck for discovery.

[2021-07-20 08:26] #3649 closed

[2021-07-20 08:34] #3640 closed

[2021-07-20 11:39] Zensey commented on #3622
As of 0.0.1-preview11 it is ready.
https://github.com/mysteriumnetwork/myst-launcher/releases/tag/0.0.1-preview11

[2021-07-20 13:45] etherunit opened #3650 "update node migration guide (finding docker volumes using shell on mac & windows)"
https://docs.mysterium.network/node-runners/node-migration/#finding-data-dir-in-docker-node-macos-host

[2021-07-20 17:34] Serque opened #3651 "Unable to connect"
**Describe the bug**
Unable to connect to my node by android app. Node: 0x813d855bd73cdd5661ea0c375951c4e9feecc1c8

**To Reproduce**
Steps to reproduce the behavior:
1. Open android app
2. Click on the node
4. See error 'Filed to connect  '

**Expected behavior**
Successful connection to node. Assignment the node's ip-address.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2021-07-20 21:15] eugenegoncharuk commented on #3648
Data was corruped in nodes table and processing of sending notification was interrupted by the raised Exception.
Could find only when switched QUEUE_CONNECTION to "sync".

[2021-07-20 21:15] #3648 closed

[2021-07-21 07:46] tomasmik commented on #3651
Could you please provide additional information such as android app logs, node logs for the time frame when the connection is being established? Also would be useful it you'd specify if you're using mobile data or wifi? Are others able to connect to the node with no issues?

[2021-07-21 09:10] etherunit opened #3652 "Session hangs in UI with 0 earnings"
Provider: 0x641cb8019932b0fc112eeb1c265a4e93811c9086
SessionID: 3e345f6c-538c-443d-9924-5193626d7740

In NodeUI it's still showing as active:
Country: DE
Duration: 17:21:18
Started: 7/20/2021, 3:08:09 PM
Earnings: 0.0000000 MYSTT
Transferred: 0 Bytes

Consumer: https://testnet2-grafana.mysterium.network/d/Pp9tMURGz/consumer?orgId=1&var-consumer=0x9f215ef0b681b6d587d00468d0bb3e1ee6b4a51f

On MMN it

[2021-07-21 09:25] etherunit commented on #3643
We're using 4 connection establishment mechanisms. Node is trying to test each of them (in ordered way) to become connectable for consumers.

1. Check if node is running on public address. If there is public IP attached to the network interface, then node is asking external services (e.g. location oracle and couple other fallback services at once) to ping him and ensure that ports are visible/open

[2021-07-21 09:29] etherunit commented on #3643
This node ip_type=hosting. Additionally check if forward or input chains are not set to drop packets.

Generate iptables output: `sudo iptables-save`
Set fw INPUT and FORWARD chain policies to Accept (if needed):

[code]

[2021-07-21 09:39] etherunit commented on #3642
Address is present in the dVPN app. Please check it once again :)
App version: 1.0.5
Node version: 0.52.0
<img width="292" alt="Screenshot 2021-07-21 at 12 38 48" src="https://user-images.githubusercontent.com/60128746/126467802-86434d45-f932-4944-ada5-c31c9b4b6c89.png">

[2021-07-21 09:41] etherunit commented on #3624
Earnings are adjusted now (looking at graph).

[2021-07-21 13:29] kabirzohaib22 commented on #3624
indeed the new earnings are getting updated, but the earlier ones are still not added. i did the calculation/day. it's showing much much lower than then it should be.

[2021-07-21 15:50] lollapalooza1973 opened #3654 ""Node Settings" button still pointing to old IP address, after changing LAN subnet"
**Describe the bug**
I have changed the subnet of my LAN, by moving from 192.168.0.0/24 to 10.0.1.0/24.
The "Node Settings" button in MMN is still pointing to old IP address.

**Environment (please complete the following information):**
 - Node version: 0.52.0
 - OS: Raspbian

[2021-07-21 16:03] lollapalooza1973 commented on #3654
After 10-15 minutes the button started to point to new IP address.

[2021-07-21 17:32] #3328 closed

[2021-07-21 19:27] isaackielma opened #3655 "Test failed not connectable updated version"
**Describe the bug**
0xe2fd9dbe32cfde3c9205eb82b45f7e509069db46 discoverable in the app but not connectable.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="877" alt="Screenshot 2021-07-21 at 20 22 58" src="https://user-images.githubusercontent.com/84313603/126547809-3c4

[2021-07-22 05:16] etherunit commented on #3655
Based on Grafana, he was never connectable, but his proposal is listed in app.

<img width="659" alt="Screenshot 2021-07-22 at 08 06 42" src="https://user-images.githubusercontent.com/60128746/126592599-246fb335-aa1c-45bb-a1e4-d9d701fa96df.png">

[2021-07-22 05:18] #3654 closed

[2021-07-22 05:19] etherunit commented on #3642
@isaackielma Can this be closed?

[2021-07-22 05:20] #3642 closed

[2021-07-22 07:42] Zensey commented on #3618
https://github.com/mysteriumnetwork/myst-launcher/releases/tag/0.0.1-preview18

[2021-07-22 07:45] chompomonim opened #3656 "Pre-mainnet (a.k.a. testnet3) testing"
We're starting `pre-mainnet` testing. The main flows to test are:

- Install fresh node for Linux via apt (https://launchpad.net/~mysteriumnetwork/+archive/ubuntu/testnet3)
- Install node into Windows using our new installer
- Install docker node
- Install fresh raspberry pi node using this image: https://github.com/mysteriumnetwork/nightly/releases/latest/mystberry.zip
- Upgrade current testnet2

[2021-07-22 09:06] tadaskay opened #3657 "Update xgo/xgo-mobile to go 1.16+"
- To use a supported version of go (now we are limited by 1.13 - almost 2 years old)
- To use the latest language features
- For potential improvements/bugfixes related to gomobile

Ref:
https://github.com/mysteriumnetwork/xgo
https://github.com/mysteriumnetwork/xgomobile

[2021-07-22 11:23] aaugustin4omnis commented on #3656
'aptsources.distro.NoDistroTemplateException: Error: could not find a distribution template for Raspbian/buster' when add-apt-repository ppa:mysteriumnetwork/testnet3 - does this mean we can only install a fresh node as far as the raspberry pi is concerned?

[2021-07-22 11:57] AdineVikash commented on #3656
if your added the testnet3 repository then run `sudo apt-cache policy myst`
`apt install myst=0.52.0+1branch+testnet3+b+1+build341085458+hirsute`

Else do `sudo add-apt-repository ppa:mysteriumnetwork/testnet3` `sudo apt-get update` and then run `sudo apt-cache policy myst`
`apt install myst=0.52.0+1branch+testnet3+b+1+build341085458+hirsute` and your good to go!

[2021-07-22 12:01] aaugustin4omnis commented on #3656
Thanks - the problem is that add-apt-repository fails because it could not find a distribution template for Raspbian/Buster. E.g. https://stackoverflow.com/questions/62248269/aptsources-distro-nodistrotemplateexception-error-could-not-find-a-distributio

So I think it's something that needs fixing on the repository end or alternatively have a public list of supported Raspbian systems if it's a cas

[2021-07-22 12:07] AdineVikash commented on #3656
![image](https://user-images.githubusercontent.com/68943180/126636543-f1bf904b-1b35-4c48-a34f-ce25216a8a48.png)
![image](https://user-images.githubusercontent.com/68943180/126636326-517cff4e-f806-48d3-bbd1-9bf8a86eb541.png)

My IP address is residential and it was showing as **Your node's IP addresses is not residential,** and i was rebooted the raspberry pi.

[2021-07-22 12:16] AdineVikash commented on #3656
![image](https://user-images.githubusercontent.com/68943180/126636979-37eef97b-8b22-46c6-be1f-8c5c192938bb.png)
Seems like yes but i'm not sure, they might not added update feature support for **Raspbian/buster**, but **mystberry.zip** is available in https://github.com/mysteriumnetwork/nightly/releases/tag/nightly-22072021.

[2021-07-22 12:22] AdineVikash commented on #3656
**BUG**:
![image](https://user-images.githubusercontent.com/68943180/126637849-ecaecd98-37f7-4fab-a255-6e54c6d3ada6.png)
This was showing in the https://mmn3.mysterium.network/
![image](https://user-images.githubusercontent.com/68943180/126637981-342c4114-234f-4e07-bb50-6c37d704b3f7.png)
This was in node UI.

I was heared about node runners can't change the price anymore in **Testnet 3.0**, but fo

[2021-07-22 12:29] azlok21 commented on #3656
I also have raspbian and have similar problem. Try to add to the file _sources.list_ which is locate in _/etc/apt_ this two rows
[code]
After that try to do that AdineVikash said.

[2021-07-22 13:36] dpellegr commented on #3656
Hi,

I had no issues migrating my Docker node 0xf281d61f1d056b42323ad72b3cd75339eb1ebf7e however:
* [mmn3](https://mmn3.mysterium.network) does not categorize properly my Italian residential IP.
* Wireguard is enabled in the webui, but in my case it is not even recognized as an active service.

![Screenshot from 2021-07-22 15-17-46](https://user-images.githubusercontent.com/7815854/126647441-8f63a

[2021-07-22 13:37] AdineVikash commented on #3656
I got the same problem and it fixed after sometime.

[2021-07-22 14:14] tadaskay opened #3659 "Return exit codes from CLI commands"
To make node CLI usable in scripts it should return non zero exit codes upon failures.

Needed for https://github.com/mysteriumnetwork/mysterium-vpn-desktop/issues/158 - as it is done via CLI.

[2021-07-22 15:08] jueij commented on #3656
Hello,
my node now is twice in the leaderboard, I have no Idea, why.  https://mmn3.mysterium.network/leaderboard   Its the german node , actually on position 2 and 3

[2021-07-22 15:09] AdineVikash commented on #3656
Because there is no competition rightnow among us, so you will be at lead!

[2021-07-22 15:12] jueij commented on #3656
I dont think so, it shows different session ammount.

[2021-07-22 15:14] AdineVikash commented on #3656
Do you mean by the different price per GB ?
If yes, node runners can't set the price anymore in testnet v3 prices and it will be determined by the team.

[2021-07-22 15:18] jueij commented on #3656
![Unbenannt](https://user-images.githubusercontent.com/87820674/126664217-eef1ee35-09ef-4961-ae39-19a0ef618114.JPG)

[2021-07-22 15:21] AdineVikash commented on #3656
As I'm already said, it's completely new network and currently open for few people's at this time, so only few nodes upgraded from **testnet 2.0** to **testnet 3.0**

[2021-07-22 15:27] jueij commented on #3656
I understand, what you mean, but my node is the only one, that do appear twice, thats a bit strange. There are 6 positions now, so 5 nodes, but only mine is showing double.

[2021-07-22 15:29] AdineVikash commented on #3656
Oh, just now I saw property, does your dashboard shows 2 nodes?

[2021-07-22 15:31] jueij commented on #3656
no, only one, i even did unclaim my 2.0 node, because I thought, that may be the reason

[2021-07-22 15:32] AdineVikash commented on #3656
It's not an problem, even I did not unclaim the node from testnet 2.0 and
my node is offline in testnet 2 and online in testnet 3.0

On Thu, Jul 22, 2021, 9:01 PM jueij ***@***.***> wrote:

[2021-07-22 15:34] jueij commented on #3656
Therefore I did mention a bug here. Also, in global leaderboard, i am on position 2, but in the dashboard it shows a "-" only. It should show position 2 there, not a "-"

[2021-07-22 16:38] dpellegr commented on #3656
Nope, I waited several hours and nothing happen. Then I rebooted the node and it went fine.

[2021-07-22 16:39] AdineVikash commented on #3656
Great 👍

[2021-07-22 18:54] kabirzohaib22 opened #3661 "Node UI not responding and Showing Offline"
My node suddenly went Offline.
Now i can't access the UI.

Node is Running On RPI 4B (Raspbian 10 Buster)
Node version - 0.52.0
Node ID - 0xc35e91a92d88cfe6692d250268b478e81c3d9f8c

![33](https://user-images.githubusercontent.com/87380999/126693436-16255edd-fed4-405b-b4c6-b4594d452271.JPG)
![44](https://user-images.githubusercontent.com/87380999/126693451-02abfc23-829c-44a5-82fe-777cad024f65.JPG)

[2021-07-22 19:01] #2717 closed

[2021-07-22 19:01] #2560 closed

[2021-07-22 19:01] #2621 closed

[2021-07-22 19:01] #3130 closed

[2021-07-22 19:04] #2754 closed

[2021-07-22 19:04] #2762 closed

[2021-07-22 19:05] #2604 closed

[2021-07-22 20:21] chompomonim commented on #3271
We did some improvements since april, if issue will repeat with 5.x version of desktop app, please create a new issue.

[2021-07-22 20:21] #3271 closed

[2021-07-22 20:34] chompomonim commented on #3115
@vkuznecovas is this still relevant? Should we close it?

[2021-07-22 20:57] #2703 closed

[2021-07-22 21:19] BlueLahar commented on #3271
Thanks Jaro. I will give it a whirl now.

Regards,
B. Lahar

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, July 22nd, 2021 at 4:21 PM, Jaro ***@***.***> wrote:

[2021-07-22 21:34] chompomonim commented on #2418
@soffokl are you aware if this problem still exists?

[2021-07-22 21:43] #2247 closed

[2021-07-22 21:44] chompomonim commented on #2134
I think we already are using lightweight keystore.

[2021-07-22 21:44] #2134 closed

[2021-07-22 21:46] chompomonim commented on #2099
I think we already are using loki. @soffokl are we?

[2021-07-22 22:27] chompomonim commented on #1859
There are no known consumer applications who're using OpenVPN at this moment. It is deprecated service.

[2021-07-22 22:27] #1859 closed

[2021-07-22 22:28] chompomonim commented on #1624
NodeUI was recreated from scratch so such issue don't exit there anymore.

[2021-07-22 22:28] #1624 closed

[2021-07-22 22:30] chompomonim commented on #1496
@soffokl have you checked this again?

[2021-07-22 22:34] #1398 closed

[2021-07-22 22:37] #1395 closed

[2021-07-22 22:38] #1516 closed

[2021-07-22 22:43] #2183 closed

[2021-07-22 22:44] chompomonim commented on #2687
We have CLI for that. Also I never heard from users that this is an issue.

[2021-07-22 22:44] #2687 closed

[2021-07-22 22:47] chompomonim commented on #3116
This looks as nice to have rather than something which would make difference.

[2021-07-22 23:04] chompomonim commented on #2338
@tadaskay we still may have conflicts with other VPN applications.

[2021-07-23 06:02] etherunit commented on #3661
@kabirzohaib22 There was a session from Ghana 8 h ago which is 3 h after you have reported an issue on Github. Do you still have any issues with your node? Is it possible to submit your node logs so we can investigate it further?

[2021-07-23 06:36] kabirzohaib22 commented on #3661
yeah, i just checked, i had multiple sessions but it's still showing offline and the UI is just loading, can't access anything. the login page appeared but i couldn't get through.
here i'm attaching the log file.
[node_logs.txt](https://github.com/mysteriumnetwork/node/files/6866929/node_logs.txt)

[2021-07-23 06:43] chompomonim commented on #3116
@tadaskay this is NodeUI related task, are we really planning to migrate into Hooks there any time soon?

[2021-07-23 09:24] movefasta commented on #3656
I got an issue after upgrade node to testnet3:
[code]
Node unclaimed in my.mysterium.network

[2021-07-23 09:33] Liten90 commented on #3656
It is impossible to change the address, writes that it has been changed, but in fact not.
For some reason, all the nodes created new wallets. Although the WEBUI is correct. I can’t change.
![unknown](https://user-images.githubusercontent.com/32055609/126763730-8764b50e-6156-4200-aa14-d96f9266eff2.png)
![unknown2](https://user-images.githubusercontent.com/32055609/126763732-7900dfc0-52b6-49dd-89de-

[2021-07-23 11:39] AdineVikash commented on #3618
![image](https://user-images.githubusercontent.com/68943180/126776659-fa422a2c-39b7-45bd-89fd-24ac8ca29c0a.png)
The download url does not working, could you please fix it?

[2021-07-23 11:46] shlavik commented on #3618
seems like private repo

[2021-07-23 11:46] AdineVikash commented on #3618
Yeah.

[2021-07-23 13:37] Serque commented on #3651
what exactly logs do you need. could you show me where  the node logs should be placed and how to save logs on android? Thanks.

[2021-07-23 15:25] chompomonim commented on #3618
Thanks for reporting, made public so now you can download it.

[2021-07-23 17:18] Snawoot commented on #3581
I expect [this PR](https://github.com/mysteriumnetwork/node/pull/3663) will make it possible to run node on any Linux.

[2021-07-23 18:12] cvl opened #3665 "[Mac, bug] User can't connect to any node, multiple errors, One of the pings has error"
**Describe the bug**
According to user he's always stuck in connecting state.
I can see multiple errors like "One of the pings has error".
Logs:
[mysterium-node 51.log](https://github.com/mysteriumnetwork/node/files/6870494/mysterium-node.51.log)

**Environment (please complete the following information):**
 - Node version: 0.51.0
 - OS: Mac

[2021-07-24 07:53] etherunit opened #3666 "No checks for container after sleep"
https://my.mysterium.network/nodes/8595/dashboard Node switched to "Test failed" on MMN after laptop has been switched off overnight (it was accessible and online before) and switched back on in the morning. Monitoring agent is not checking this node afterwards. I need to trigger an API call or click "Check connection" in MMN UI to switch it to Online.

Proposals is being updated in time (in less

[2021-07-24 13:17] kabirzohaib22 commented on #3661
it's working now.
thanks

[2021-07-24 18:28] cvl commented on #3665
Some more logs:
[mysterium-node 52.log](https://github.com/mysteriumnetwork/node/files/6872910/mysterium-node.52.log)

Apparently, user can connect to nodes if he uses system DNS (versus provider DNS).

[2021-07-24 18:30] cvl commented on #3342
thank you for your contribution

[2021-07-25 03:41] endosym1 opened #3667 "testnet3 - registration taking more than 5 mins"
installed the testnet3 using docker and opened. http://127.0.0.1:4449/

![Screenshot 2021-07-25 at 9 10 02 AM](https://user-images.githubusercontent.com/87921704/126887003-ef69b1b2-61a8-4de8-acd8-b7f882b98a85.png)

Adding more info --

» status
[INFO] Status: NotConnected
[INFO] SID:
[INFO] IP: 36.255.87.4
[INFO] Location: Karnataka, IN (residential - Deshkal Network)
» nat
[INFO] NAT traversal st

[2021-07-25 04:12] endosym1 commented on #3667
registered after few reboots --

`2021-07-25T04:01:56.705 DBG config/config.go:196 > Returning default value chain-id:80001

2021-07-25T04:01:56.705 DBG config/config.go:196 > Returning default value chain-id:80001

2021-07-25T04:01:57.214 ERR identity/registry/provider_registrar.go:249 > Registration failed for provider "0xbf36415813d6be55e932f6ef3ad5061452b771db" error="server response invalid:

[2021-07-25 04:16] endosym1 opened #3668 "Testnet3 - residential IP not detected on mmn3"
**But the status in myst cli is accurate and the docker logs says it is Residential IP:**
![Screenshot 2021-07-25 at 9 45 47 AM](https://user-images.githubusercontent.com/87921704/126887510-2c00dbc3-e2dc-4112-9c7e-00e480e5f72e.png)

![Screenshot 2021-07-25 at 9 43 19 AM](https://user-images.githubusercontent.com/87921704/126887490-ba2ae5bd-f5cf-4f17-92a4-8099b10bbb4b.png)

[2021-07-25 04:19] endosym1 opened #3669 "testnet3 - missing options to set service rates and openvpn is gone"
missing option to set service rates - Price per GB and price per hour

![Screenshot 2021-07-25 at 9 47 30 AM](https://user-images.githubusercontent.com/87921704/126887561-d099827f-0c2b-4add-bc3d-3cbd3a67bf77.png)

[2021-07-25 07:20] etherunit opened #3670 "[Testnet3] Wallet address mismatch found"
Notably, "Node wallet" in mmn3 (under payment information) mismatches Bounty payout address found in NodeUI.

E.g. Identity: **0x1dc7b10905bf39023921cf2b3994616791031a19**
Bounty payout address inserted in UI=0x99B2f079af1478158092D9aD616F9A30f675FE6f
Wallet presented in MMN3 profile: 0x6B83877A10F8BC91fdc634692e6EAF46159E25A7

<img width="862" alt="Screenshot 2021-07-25 at 10 20 13" src="https://

[2021-07-25 07:27] etherunit opened #3671 "Same node is listed twice on V3 leaderboard"
Identity: 0x8a964baba8f5cd7cc5327d6554e1142d7af0541b
<img width="1402" alt="Screenshot 2021-07-25 at 10 25 54" src="https://user-images.githubusercontent.com/60128746/126891285-9a794f3a-7d26-48ce-a193-646a37aea0a4.png">

[2021-07-25 07:30] etherunit commented on #3656
@movefasta Could you provide your node identity address?

[2021-07-25 07:34] etherunit opened #3672 "Network stats page need review"
https://mmn3.mysterium.network/network
<img width="1438" alt="Screenshot 2021-07-25 at 10 32 38" src="https://user-images.githubusercontent.com/60128746/126891465-ca65ae93-dbc6-49b9-9fc5-df98dccf23f1.png">

[2021-07-25 07:43] sj64 commented on #3656
![Screenshot from 2021-07-25 09-35-55@2x](https://user-images.githubusercontent.com/64731653/126891545-8b62e825-03b9-4e16-8a7c-b0857d78b81e.png)

Install of node on VPS went fine, took a while to complete registration but sorted itself out without any intervention from me. testnet3 MMN also updated itself correctly.
Now trying the linux desktop VPN, still stalled with 0 MYSTT, and identity registr

[2021-07-25 07:48] AdineVikash commented on #3656
Using the testnet3 linux desktop VPN? if yes, you will not have the free MYSTT.

[2021-07-25 07:52] sj64 commented on #3656
ok, so is it recommended to topup, paying with real ETH, despite the warnings?

[2021-07-25 08:01] AdineVikash commented on #3656
Mostly yes, it's safe but i'm not 100% sure because i'm not topuped yet because of lack of funds in my wallet/pockets.

[2021-07-25 08:09] sj64 commented on #3656
Thanks, but I'll want to wait for a more certain confirmation before paying the transaction fees etc!

[2021-07-25 10:34] etherunit commented on #3669
@endosym1 OpenVPN is deprecated from UI on Testnet V3. It's a part of the product roadmap (not a bug).
Price is auto-setting ( a * b  where a is basic rate and b is modifier (modifier is not a constant and it changes based on the country), there is no way to set it manually in UI on Testnet V3.

[2021-07-25 10:35] #3669 closed

[2021-07-26 03:03] soffokl commented on #2418
This needs to be tested. It does not look like it happens often.

[2021-07-26 03:04] soffokl commented on #2099
testnet2 loki, testnet3 elk again %)

[2021-07-26 03:06] soffokl commented on #1496
nope

[2021-07-26 06:35] #3624 closed

[2021-07-26 07:25] eugenegoncharuk opened #3673 "Too much notifications are sent to node runners from MMN if node is in Test Failed state"
There are too much notifications are sent to node runners if MMN in test failed state. Why it is so? Expected that notifications are sent not so often.

<img width="1128" alt="Screenshot 2021-07-26 at 10 36 50" src="https://user-images.githubusercontent.com/60128746/126959934-1c31fee8-50c5-4d24-ab20-b686e95ac5da.png">

[2021-07-26 07:25] eugenegoncharuk opened #3674 "Problem with MMN on testnet3, Email sending works only if QUEUE_CONNECTION set to sync"

[2021-07-26 07:26] eugenegoncharuk opened #3675 "Update requests/limits for Kubernetes pods"

[2021-07-26 07:43] chompomonim commented on #3656
Could you try installing newest build?
https://github.com/mysteriumnetwork/nightly/releases/tag/nightly-25072021

[2021-07-26 07:44] chompomonim commented on #3656
You still should have free MYSTT. If not, then this is bug. Your node logs would help.

[2021-07-26 07:45] chompomonim commented on #3656
There is glitch in desktop app. Please set quality to any in settings.

[2021-07-26 07:47] chompomonim commented on #3656
Are you using Windows desktop app?

[2021-07-26 07:55] AdineVikash commented on #3656
Understood rightnow, let me check!

[2021-07-26 08:00] AdineVikash commented on #3656
![Uploading Screenshot_2021-07-26-13-29-49-68_108628a93f2024d8604e0ea3544ef3cb.jpg…]()
How to by pass this?

[2021-07-26 09:35] sj64 commented on #3656
@chompomonim
Already using nightly: 25072021 desktop VPN
Linux (Elementary 5.1.7 Hera)

Had yesterday already tried setting quality to any without success. HOWEVER today it is running perfectly, with no action on my part (using quality Any). It just seems at several stages there have been delays in full functionality that sorted themselves out without intervention. That is:

Initial node registrat

[2021-07-26 10:33] tadaskay opened #3676 "Expose entertainment estimates through API"
It is only implemented for mobile, need to expose it via API for https://github.com/mysteriumnetwork/mysterium-vpn-desktop/issues/138

[2021-07-26 11:03] AdineVikash commented on #3656
installed the testnet3 desktop client. How much min does it take to get my identity registered?

[2021-07-26 11:04] AdineVikash commented on #3656
installed the testnet3 desktop client. How much min does it take to get my identity registered?

![image](https://user-images.githubusercontent.com/68943180/126978989-8aeb4e77-8e3f-46ba-84f4-ce07c1ff8a80.png)

Waiting for more then 10min.

[2021-07-26 11:38] untitledlt opened #3677 "Create a banner to show if some of the services are down"

[2021-07-26 11:53] Peter-SovietSquirrel commented on #3656
This is an upgrade from 5.0.0-5on Windows to the latest nightly release this shows 0 MYSTT. Previous MYSTT not carried forward.
[main.log](https://github.com/mysteriumnetwork/node/files/6877886/main.log)

[2021-07-26 11:55] AdineVikash commented on #3656
Previous MYSTT will not carry forward once the migration completes?

[2021-07-26 12:53] MoralisRubric commented on #3656
I am having trouble with updating the Bounty Payout Address.

When I updated the node to MMN3 the Bounty Payout Address was empty, I have tried updating the details but I get an error.

![MMN3_WalletScreenshot-20210726](https://user-images.githubusercontent.com/13920475/126991782-a1a25293-29f3-4c30-a944-8b55db6a30a0.png)

[2021-07-26 13:13] #3645 closed

[2021-07-26 13:19] trupsalms commented on #3655
This is a public server with port forwarding enable as well as open ports, I'm not sure why it's not connecting.

[2021-07-26 13:20] trupsalms commented on #3643
This is a public server with port forwarding enable as well as open ports, I'm not sure why it's not connecting.

[2021-07-26 13:25] trupsalms commented on #3643
root@racknerd:~# sudo iptables -L INPUT
Chain INPUT (policy DROP)
target     prot opt source               destination
ufw-before-logging-input  all  --  anywhere             anywhere
ufw-before-input  all  --  anywhere             anywhere
ufw-after-input  all  --  anywhere             anywhere
ufw-after-logging-input  all  --  anywhere             anywhere
ufw-reject-input  all  --  anywhere

[2021-07-26 13:39] #3659 closed

[2021-07-26 15:30] eugenegoncharuk commented on #3674
CPU and RAM limits were not set for this container. That's why some of the huge processes were killed by linux container.

[2021-07-26 15:30] #3674 closed

[2021-07-26 16:11] #3676 closed

[2021-07-27 05:26] soffokl commented on #3565
This should not appear in the latest versions. Please let me know if you will face it again.

[2021-07-27 05:26] #3565 closed

[2021-07-27 05:29] soffokl commented on #3599
We had a bug in the old versions when it was generating too many logs.
These logs could be produced by the old version even if you are running the latest one now.
This should not appear in the latest versions after cleaning old logs. Please let me know if you will face it again.
You can change the logs level to less verbose to make the log size smaller too.

[2021-07-27 05:29] #3599 closed

[2021-07-27 05:30] #3558 closed

[2021-07-27 05:30] #3614 closed

[2021-07-27 06:00] lollapalooza1973 commented on #3599
How do I change the log verbosity?

[2021-07-27 06:03] soffokl commented on #3599
There is a flag, you can set it to the `--log-level=info`

[2021-07-27 06:08] lollapalooza1973 commented on #3599
Shall I set this in ` /etc/default/mysterium-node`?
Something like
`LOG_LEVEL="--log-level=info"`

[2021-07-27 06:23] soffokl commented on #3599
yep, it goes to the `/etc/default/mysterium-node`

should be like `DAEMON_OPTS="--keystore.lightweight --log-level=info"`

[2021-07-27 06:29] soffokl commented on #3666
@etherunit we did an improvement for the monitoring agent. Can you please confirm if the problem is resolved now?

[2021-07-27 06:35] isaackielma opened #3679 "Node status online and running fine. Dashboard stating "no services found""
**Describe the bug**
Multiple nodes experiencing an issue where their nodes are working just fine. However, upon checking connection on their nodes they get message that there are no service to be found..

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MMN2 Dashboard
2. Click on 'Check connection'
3. See error 'No services found'

**Expected behavior**
Check connection should be queued

[2021-07-27 06:43] etherunit opened #3680 "No active services found after migration"
Provider: 0x9bfaf5f82b29d749444c9e76e5d0bceb9bf4d90c
Proposals in Discovery `null` even though node is working and new sessions appearing on the list.
<img width="444" alt="Screenshot 2021-07-27 at 09 41 51" src="https://user-images.githubusercontent.com/60128746/127107908-254f4fb7-339f-4016-8254-a4a81b8b2318.png">
<img width="1399" alt="Screenshot 2021-07-27 at 09 41 58" src="https://user-images.

[2021-07-27 06:43] lollapalooza1973 commented on #3599
Great, thank you.

[2021-07-27 06:44] etherunit commented on #3680
Duplicate of #3679. Closing this one.

[2021-07-27 06:44] #3680 closed

[2021-07-27 06:52] marvz702 commented on #3679
Hi Team,

After the update. The main dashboard is no longer being updated and Client Check fails.

I have rebooted my node and there are ongoing sessions any NAT is a Success. I haven't checked if my earnings and data usage is being updated and will compare data with my internal node dashboard.

My info for your reference:
Node ID: 0x2b2a001aeb59e27d28912ad49bf73d0ecb7124a6

OS: Ubuntu Deskop

[2021-07-27 07:31] coder-amogh commented on #3679
Similar issue...
Node ID: 0xd68f8ce2ff01b22a14a756bb573844557b8fe71c
I have the status as Online but if I click "Check connection" button from the mysterium dashboard I get "No active services found".
Can anyone tell me how to resolve the issue?

[2021-07-27 07:37] JSubelj commented on #3679
Similar issue, docker:latest
Node ID: 0xb6d657397b571838bf45d11a91461e781cdaebd9

Have not gotten a successful connection check in a while, also no traffic.

![image](https://user-images.githubusercontent.com/32905940/127115046-b734272f-a4ee-4b18-83d9-53eb428916f3.png)

[2021-07-27 08:03] chompomonim opened #3681 "Improve docker configuration"
Problem
======

After recent improvements in docker configuration we started using port restricted cone nat. This simplified docker configuration (don't need manual port forwarding in most of cases) but another problem appeared. Now clients which ISP is using symmetric NAT can't connect to such nodes, so users from some mobile operators can't connect to 55% of our nodes.

Solution
=====

- [x] Res

[2021-07-27 08:08] lollapalooza1973 opened #3682 "A session >12 hours long gave 0 MYST"
**Describe the bug**
I had a session that lasted for more than 12 hours, and it shows 0 MYST earned.

**Screenshots**
![image](https://user-images.githubusercontent.com/34000198/127118894-dbff910b-e488-4faa-ae86-2658b15ce5f9.png)

**Environment (please complete the following information):**
 - Node version: 0.52.0
 - OS: Raspbian

I have submitted the logs via node CLI: {"issueId":"3287"}

[2021-07-27 08:28] chompomonim opened #3683 "Refactor node to avoid using websockets"

[2021-07-27 08:56] chompomonim opened #3684 "Add fullnode fallback service support for transactor and hermes"

[2021-07-27 09:11] chompomonim opened #3685 "Discovery should reconnect to broken(NATs) after it fails"

[2021-07-27 09:20] chompomonim opened #3686 "Release node with two bc configs"
We have added bc client fallback logic for providers and consumers. We should make a testnet3 build release with chainstack fullnode + maticvigil setups. And test if this will add any positive impact on network stability.

[2021-07-27 09:24] chompomonim commented on #2452
Additionally to mentioned above we're planning to do #3681 which should improve connect-ability rate.

[2021-07-27 09:35] #3604 closed

[2021-07-27 09:36] #3514 closed

[2021-07-27 09:36] #3619 closed

[2021-07-27 09:36] #3457 closed

[2021-07-27 09:36] #3601 closed

[2021-07-27 09:36] #3630 closed

[2021-07-27 09:44] #3590 closed

[2021-07-27 09:44] ArtemHryhorovGeniusee opened #3687 "Unknown bug on starting MobileNode"
This happened right after app was launched
Google Pixel 3, Android 11
I attached the file with all Go logs
[mysterium_log.txt](https://github.com/mysteriumnetwork/node/files/6884445/mysterium_log.txt)

[2021-07-27 10:29] Snawoot commented on #3560
Need clarification: was such behavior was observed on consumer node, provider node or both of them?

[2021-07-27 10:30] lollapalooza1973 commented on #3679
Same issue here.
Node is "online", and I also have incoming connections.
Anyway, MMS shows "No services found".

Node ID: 0x641cb8019932b0fc112eeb1c265a4e93811c9086

[2021-07-27 10:39] chompomonim opened #3688 "NodeUI should show recommendation to change node's setup when using port restricted cone nat detected"
In settings page we may show additional recommendations box. We may start with showing recommendations how to setup your docker differently (using port forwarding in docker instead using port restricted cone nat) when it is relevant (e.g. we could be detecting that user has such docker configuration).

Problematic why to do so is described in #3681

[2021-07-27 10:52] chompomonim opened #3689 "Allow users to choose between manual and auto port configuration in Windows installer"
At the moment we're using port restricted cone nat for docker nodes. This limits some consumers (who's ISP is using symmetric NATs) to connect to such nodes. This is simpler way to configure node but will potentially limit amount of consumers.

Windows installer should allow person to choose which option to choose between:
 - Use port restricted cone NAT (recommended)
 - Use manual port forwarding

[2021-07-27 11:00] Snawoot commented on #3463
@cvl Can we have a screenshot of customer's browser when it fails to work with enabled VPN? I'd like to collect information about exact network error browser is hitting. Also some info about browser and installed extensions might be useful.

I suspect one of following scenarios:

* There is a global proxy setting in system which points to proxy in intranet (but not in the same subnet with user). W

[2021-07-27 11:12] cvl commented on #3463
Hi @Snawoot welcome aboard.

As this is a 2 months old issue, I cannot collect any more information, as the customer has long time gone (canceled and refunded).

[2021-07-27 11:21] Snawoot commented on #3463
@cvl Thanks!

That's unfortunate. However, I expect same problem may manifest itself in future. In this case consider my previous comment as a run-book for such situations. Closing issue for now since no other progress on it should be expected.

[2021-07-27 11:21] #3463 closed

[2021-07-27 11:27] cvl commented on #3463
In general most of such information is not possible, as users are not technical, and won't spend their time collecting so much information for such a basic service as VPN :) It's easier for them just to move on to a next VPN which just works.

So the information will always be only partial.

[2021-07-27 11:33] #2833 closed

[2021-07-27 11:40] etherunit opened #3690 "Base table mmn.node-beneficiaries doesn't exist"
<img width="1440" alt="Screenshot 2021-07-27 at 14 39 13" src="https://user-images.githubusercontent.com/60128746/127147603-34a33c16-54fc-4e41-911a-cefa5de5db88.png">

[2021-07-27 12:07] #3635 closed

[2021-07-27 12:08] #3650 closed

[2021-07-27 12:09] #3557 closed

[2021-07-27 12:14] Zensey commented on #3618
For last releases turn to this page:
https://github.com/mysteriumnetwork/myst-launcher/releases

[2021-07-27 12:14] #3612 closed

[2021-07-27 12:21] bitcoinbov commented on #3679
NODE ID 0x1c45db9acef969d9165a7c4c10bc65342cf483bb

OS Raspbian GNU

[2021-07-27 12:30] #3690 closed

[2021-07-27 12:40] eugenegoncharuk opened #3691 "Update translations for Node Runner guides"

[2021-07-27 12:40] eugenegoncharuk opened #3692 "Youtubers research"

[2021-07-27 12:43] eugenegoncharuk opened #3693 "Tweeter campaign setup"

[2021-07-27 12:44] eugenegoncharuk opened #3694 "Push notifications follow up"

[2021-07-27 14:27] lollapalooza1973 commented on #3682
Same issue with other long sessions.
![image](https://user-images.githubusercontent.com/34000198/127171551-f37d6d82-f4c4-4b74-9d51-e1c2f97a605a.png)
![image](https://user-images.githubusercontent.com/34000198/127171598-ffb03cd6-4bed-47f3-8676-b1c411d19254.png)
![image](https://user-images.githubusercontent.com/34000198/127171658-9f4528d7-9ab9-4ecb-98ae-a8e1ac6f0f70.png)

[2021-07-27 16:32] Snawoot commented on #3262
I've reproduced this issue on residential IP in US.

Here we can see response body of failed request:

![Screenshot_win10-clean_2021-07-27_14:15:15](https://user-images.githubusercontent.com/3524671/127190479-bf24b2e8-3724-4dee-8487-75c168a1faf0.png)

It states: "User role not authorized for this action".

On my screenshot and screenshot in original issue message we can see "Enable Wagering" butto

[2021-07-27 16:32] #3262 closed

[2021-07-27 21:29] jueij commented on #3656
With the new update my node dissapeared from the dashboard. If I try to claim it, it tells me, it is already claimed. _"Error
This node has already been claimed. Please visit https://mmn3.mysterium.network/ and unclaim it first."_ But I cant unclaim, because it dont show up in my dashboard. Running on debian.

[2021-07-28 05:36] etherunit commented on #3656
@jueij You are using an API key from my.mysterium.network or mmn3.mysterium.network to claim your node?

[2021-07-28 06:17] AdineVikash commented on #3656
I'm sure, for now my.mysterium.network and mmn3.mysterium.network is same rightnow.

[2021-07-28 06:24] etherunit commented on #3656
@jueij What's your node identity address?

[2021-07-28 07:04] etherunit opened #3695 "Failed to connect to vmsingle.metrics-metric.svc 8429"
<img width="1073" alt="Screenshot 2021-07-28 at 10 03 57" src="https://user-images.githubusercontent.com/60128746/127278850-9d80f421-5092-4528-b7b6-0948e46e8586.png">
<img width="720" alt="Screenshot 2021-07-28 at 10 04 02" src="https://user-images.githubusercontent.com/60128746/127278874-4e187087-79a9-448e-b6c1-7753499b0639.png">

Sometimes MMN outputs with 503 or loading slowly.

[2021-07-28 07:16] etherunit opened #3696 "Unable to send a bug report via NodeUI"
Node operators with docker implementations are unable to submit a bug report in UI because file logging is disabled. `--log-dir=""` is set to empty string to disable logs in container since docker already collect it.

Passing `--log-dir=/var/lib/mysterium-node/logs` flag into `docker run` fixes it, however it increases disk usage 2x times.
We need to rotate logs to minimize it (for enabling loggin

[2021-07-28 07:16] eugenegoncharuk opened #3697 "Check Node components to use correct library to identify Num Procs settings [contact Viktoras for details]"

[2021-07-28 07:19] eugenegoncharuk commented on #3695
Now limit of 4 CPU and 20 Gi of Ram is used for VM single. Should be ok now.
![image](https://user-images.githubusercontent.com/87538/127280707-78fc7e9b-8828-43c8-a454-41584e122f63.png)

[2021-07-28 07:19] #3695 closed

[2021-07-28 08:02] Snawoot opened #3698 "p2p connection fails due to late STUN responses"
Sometimes my node (versions 0.51.0, 0.53.0) fails to connect to a provider. I see following lines in daemon log:

[code]

It seems late responses were coming from STUN server and picked up by `pingReceiver`. Pinger uses this port and remote address for further communication instead of provider's address and port.

[2021-07-28 08:04] Snawoot commented on #3698
Assigning to @soffokl since he already has [branch](https://github.com/mysteriumnetwork/node/tree/receive-pings-only-from-fixed-IP) with sketch of fix and knows the way to fixing this properly and completely.

[2021-07-28 08:10] etherunit opened #3699 "MMN node status online vs Grafana test failed"
**Describe the bug**
There is a clear inconsistency between MMN status and actual status being reported from a single point of truth.
Node: 0x10fcdb03aaa6b0186162c8ae5e9d4e258c5bcf2e, Reported status: Online;

Grafana is reporting: Test failed

https://testnet2-ndiscovery.mysterium.network/api/v3/proposals-metadata?provider_id=0x10fcdb03aaa6b0186162c8ae5e9d4e258c5bcf2e "updated_at":"2021-07-28T08:

[2021-07-28 09:11] andreinica01 opened #3700 "[feataure request] Chrome Extension"
Not related, but in the future you will make a chrome/firefox extension for the client?

[2021-07-28 09:17] jueij commented on #3656
0x8a964baba8f5cd7cc5327d6554e1142d7af0541b  and the api key now seems the same in any network, testnet3 and testnet2

[2021-07-28 10:54] furkanarius opened #3701 "libgojni.so Library Causing Crashes on Android Devices"
**Describe the bug**
There's a bug that's causing 10% crash rate on Android, which puts us way above the acceptable threshold. However, we haven't been able to determine the cause of the bug as there's no stack trace and no logs.

All OS and device types are crashing, which means it's not specific to a certain device/OS type.

The bug can be seen here:
https://play.google.com/console/u/2/developer

[2021-07-28 14:00] soffokl opened #3703 "Monitoring agent should be not charged for checks"

[2021-07-28 16:50] cvl opened #3704 "[windows, bug] can't access any website after connecting to any node"
**Describe the bug**
User reported he can't access any website when connected. He's tried many nodes.

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6895118/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.51.0
 - OS: Windows

[2021-07-28 16:58] cvl opened #3705 "[windows, bug] user "lost" his IP after disconnecting"
**Describe the bug**
User reports that after disconnecting he cannot resolve his local IP anymore.
Restarting computer didn't help.

After 5 minutes and 2 restarts it came back to normal somehow.

Logs:
[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6895155/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.51.0
 - OS: Windows

[2021-07-28 17:44] Serque commented on #3651
Here is the node log file.
[Node_log_813.pdf](https://github.com/mysteriumnetwork/node/files/6895424/Node_log_813.pdf)

[2021-07-28 17:50] Serque commented on #3651
The File contains records when i try to connect to node by android app. i  using phone internet connection.

[2021-07-29 06:56] untitledlt commented on #3670
this issue will be fixed with https://github.com/mysteriumnetwork/my.mysterium.network/pull/108

[2021-07-29 06:56] fatkulnurk commented on #3679
Same issue here.
Node is "online", and I also have incoming connections.
Anyway, MMS shows "No services found".

-----

**Node ID:**
0xca8c0aaef075823f20ed947b7c0aeb6bbd2d1e80
**OS:**
Ubuntu 20.04 LTS
**Location:**
Indonesia

-----

**Node ID:**
0x0180aaa57950acb474ec7313325e8469a7938567
**OS:**
Ubuntu 20.04.2 LTS
**Location:**
France

[2021-07-29 07:25] #3686 closed

[2021-07-29 07:26] vkuznecovas commented on #3686
Released

[2021-07-29 07:27] vkuznecovas commented on #3667
This is caused by instability of the matic nodes we're using for mumbai testnet3. We've got a fix for that in mind and it's something that I'm working on right now. I'll close this issue, you can track progress of #3683 instead.

[2021-07-29 07:27] #3667 closed

[2021-07-29 07:30] chompomonim commented on #3700
We have plans to create chrome extension, but this can be done only after proxy services (e.g. SOCKS5 or https proxy) will be introduced into Mysterium.

VPN tunnels are working on L3 of networking stack and browser is working in L7 so he can't control VPN tunnels.

[2021-07-29 07:43] etherunit opened #3708 "Notifications sent for deleted node"
`NotificationManager` still dispatches alert emails for node which has been manually deleted from my.mysterium.network.

<img width="1010" alt="Screenshot 2021-07-29 at 10 41 28" src="https://user-images.githubusercontent.com/60128746/127452093-b84fa570-e76a-4365-ad4c-cc3b504dad0b.png">

[2021-07-29 07:58] chompomonim opened #3709 "Consumer should not fetch unaccessible nodes"
We need add detection in node if consumer ISP is using symmetric NAT, in such case consumer app should filter out unaccessible nodes. Also user should be able to enable/disable in config such auto detection.

This is related to #3681 and allow not to show docker nodes with certain configuration.

[2021-07-29 08:00] chompomonim opened #3710 "Extend quality oracle and discovery so it could mark and filter out nodes which has "port restricted cone nat" enabled"

[2021-07-29 08:05] #3361 closed

[2021-07-29 08:06] #3638 closed

[2021-07-29 08:34] cvl commented on #3676
@tadaskay could you elaborate on what this does?

[2021-07-29 08:35] chompomonim commented on #3656
Yes, now mmn2 and mmn3 have same api-key and they will show nodes in both networks. Technically there is only one mmn now, just with two separate addresses ;)

[2021-07-29 08:38] chompomonim commented on #3589
![status](https://user-images.githubusercontent.com/153896/127460229-538d82c9-7688-4134-81d2-a54952f08c54.png)

[2021-07-29 08:42] chompomonim commented on #3589
Text under question marks could be similar to one in MMN.

Also in "nat traversal method" questions mark lets type something like that:

"
There are 4 traversal mechanisms possible. Node is trying to test each of them to become connectable for consumers.

1. Check if node is running on public address. If there is public IP attached to network interface, then node is asking external services to pin

[2021-07-29 13:31] 300Gram commented on #3679
Node ID: 0x6d7a8c13e06133135df1412c7a99a82cd7e62d59
Ubuntu 20.04 LTS
Location:  Singapore

[2021-07-30 06:10] Liten90 commented on #3670
![image](https://user-images.githubusercontent.com/32055609/127608725-767cc03f-3a2f-421e-b677-c81ebfcd3ba1.png)

[2021-07-30 06:29] etherunit commented on #3670
@untitledlt I could not replicate the issue above.

[2021-07-30 07:15] #3698 closed

[2021-07-30 07:32] #3311 closed

[2021-07-30 07:32] #3587 closed

[2021-07-30 08:43] #3462 closed

[2021-07-30 08:58] cvl commented on #3462
Nice!

Will this be included in 0.54.0 ?

[2021-07-30 09:01] #3560 closed

[2021-07-30 09:07] Snawoot commented on #3462
@cvl Sure, it will, changes already merged. Expecting it in next release.

[2021-07-30 11:32] untitledlt commented on #3670
@Liten90 could you tell what Node version do you use?

[2021-07-30 14:39] Liten90 commented on #3670
0.52.0+1branch+testnet3+b+1+build345241356+focal
RPI

[2021-07-30 17:34] andreinica01 commented on #3700
im not an expert on this, but i saw the client extension was basically written in electron, so using javascript. i tought i would have been similar since javascript is used in chrome extensions too

[2021-07-30 19:50] sohailshaikh333 opened #3714 "Mysterium node is having issue"
**Describe the bug**
Hi team,
My node status is showing online but when I click on check connection it returns me a pop-up "Failed to queue connection". I have tried various things based on the steps listed on this page "https://docs.mysterium.network/node-runners/troubleshooting/#introduction-to-network-troubleshooting"

1. I tried enabling NAT: The NAT status also was appeared success on the nod

[2021-07-31 08:47] cvl opened #3715 "[mac, bug] node frequently disconnect, multiple errors"
**Describe the bug**
User reports that node frequently disconnects when using BBC iPlayer.
I can see many various errors in logs:

[mysterium-node.log](https://github.com/mysteriumnetwork/node/files/6910916/mysterium-node.log)

**Environment (please complete the following information):**
 - Node version: 0.51.0
 - OS: Mac

[2021-07-31 09:10] cvl opened #3716 "[windows, bug] user is blocked (?) after connecting once to a node."
**Describe the bug**
User reports, that he can connect to a node once successfully, then on second attempt, he's cannot connect to it anymore.
He can connect to another node once, then he can't connect to the same node anymore again.
He suspect he's blocked by his ISP (t-mobile 4g lte home internet) - but I doubt it. Must be some weird bug.
More feedback from user:
"I was connected to Japan for ab

[2021-08-01 05:57] chompomonim opened #3717 "Problems in setting payout beneficiary in testnet3 NodeUI"
Getting error while setting new beneficiary in NodeUI.

Message:
![Screenshot from 2021-08-01 08-55-41](https://user-images.githubusercontent.com/153896/127760960-0be921f0-f72e-4d2b-9368-3e7c972afe16.png)

Node version 0.53.0-1branch-testnet3-b-1
WebUI version 0.4.0

[2021-08-01 06:30] chompomonim opened #3718 "Wrong MMN URL in NodeUI"
mmn3.mysterium.network is not accessible anymore but WebUI version 0.4.0 is still pointing into it.

[2021-08-01 06:32] chompomonim commented on #3133
@eugenegoncharuk is this already solved?

[2021-08-01 06:33] #2099 closed

[2021-08-01 06:34] chompomonim commented on #2418
Please open new issue if such problem will appear again. Closing for now.

[2021-08-01 06:34] #2418 closed

[2021-08-01 06:35] #3581 closed

[2021-08-01 06:46] #3661 closed

[2021-08-01 06:47] chompomonim commented on #3622
Are you still working on this? Can we close this task? I think manual mode is good enough solution.

[2021-08-01 06:49] chompomonim commented on #3665
This should be solved with #3681, especially after #3709 will be done.

We're working on them already. So closing this issue as duplicate.

[2021-08-01 06:49] #3665 closed

[2021-08-01 06:57] chompomonim commented on #3681
@Snawoot recently proposed alternative solution - using VirtualBox instead of docker on Windows.

_"To solve Docker NAT problem instead of running docker on windows there is a more direct approach which grants same network connectivity as running RaspberryPi in same network.

VirtualBox has an option to run VMs in background and has a one-click import of Virtual Appliances in a well-known OVA form

[2021-08-01 07:06] #726 closed

[2021-08-01 07:09] Liten90 commented on #3670
0.53.0+1branch+testnet3+b+1+build346036548+focal
The error is still the same = (

[2021-08-01 07:10] chompomonim commented on #2802
@Snawoot is this still relevant? Should we fix it or close it?

[2021-08-01 07:21] #2802 closed

[2021-08-01 09:13] soffokl commented on #3681
VirtualBox solves the problem only partly. We still will need to resolve all the tasks listed to improve the connectivity rate, since routers can cause the same problem with a port restricted cone NAT that we have with a docker, and we need to filter these nodes to supported consumers only.

There are also some limitations for bridging Wifi adapters in VirtualBox when they could not work at some s

[2021-08-01 13:51] sohailshaikh333 commented on #3714
Hi Team,
Any updates.

[2021-08-01 17:44] Snawoot commented on #2452
I guess with UPNP we should also check if IGD has public IP on it's interface (UPNP allows that). If not, we're better off with usual techniques. Even if we probe UPNP port from external server, we still can't be 100% sure it's UPNP contribution. Also usually UPNP has limitations on amount of forwarded ports, so can't test them all up front.

[2021-08-02 08:56] masterdot opened #3720 "Can't upgrade to testnet3"
`sudo add-apt-repository ppa:mysteriumnetwork/testnet3             Traceback (most recent call last):
  File "/usr/bin/add-apt-repository", line 95, in <module>
    sp = SoftwareProperties(options=options)
  File "/usr/lib/python3/dist-packages/softwareproperties/SoftwareProperties.py", line 109, in __init__
    self.reload_sourceslist()
  File "/usr/lib/python3/dist-packages/softwareproperties/So

[2021-08-02 09:21] tomasmik commented on #3714
Sorry for the delay, we're looking in to it.

[2021-08-02 10:33] sohailshaikh333 commented on #3714
Hi Tomas, no problem I'll wait for your inputs....

On Mon, 2 Aug 2021, 14:51 Tomas, ***@***.***> wrote:

[2021-08-02 11:28] untitledlt commented on #3670
@Liten90
This issue was fixed after `0.53.0+1branch+testnet3+b+1+build346036548+focal` was released.
New version should be available today.

[2021-08-02 11:29] tomasmik commented on #3717
This appears to be an issue with the build for testnet3 PPA. It's still pointing to the old MMN (mmn3.mysterium.network), which is long gone. Will update the PPA releases.

[2021-08-02 11:31] #3622 closed

[2021-08-02 11:54] Zensey commented on #3689
What ports must be mapped ?

[2021-08-02 12:22] Liten90 commented on #3670
![image](https://user-images.githubusercontent.com/32055609/127861141-8cb427b2-5e1e-47ca-bcdf-f26c26745b1c.png)
![image](https://user-images.githubusercontent.com/32055609/127861173-81c0d4ce-9bd1-48f1-a21c-94162a239a30.png)
The address has changed in NodeUI, but has not changed in monitoring.

[2021-08-02 13:01] vkuznecovas opened #3722 "Discovery: sidecar needs to be built on dockerhub"

[2021-08-02 13:14] eugenegoncharuk commented on #3668
Not reproducable.

[2021-08-02 13:14] #3668 closed

[2021-08-02 13:20] eugenegoncharuk commented on #3718
Not relevant anymore. changed back to my.mysterium.network.

[2021-08-02 13:20] #3718 closed

[2021-08-02 14:12] untitledlt commented on #3714
Could someone confirm that this is still happening? I can not reproduce it.

[2021-08-02 14:38] #3670 closed

[2021-08-02 14:57] untitledlt commented on #3671
Not an issue any more. Let's wait for it to come back.

[2021-08-02 14:57] #3671 closed

[2021-08-02 15:28] Serque opened #3725 "Unable to connect to Docker node"
Describe the bug
Unable to connect to my node by android app. Node: 0x813d855bd73cdd5661ea0c375951c4e9feecc1c8

To Reproduce
Steps to reproduce the behavior:

Open android app
Click on the node
See error 'Filed to connect '
Expected behavior
Successful connection to node. Assignment the node's ip-address.

Screenshots
If applicable, add screenshots to help explain your problem.

Environment (pleas

[2021-08-02 15:33] Serque commented on #3725
logs when i connect to node by android app
[Node_log_813.docx](https://github.com/mysteriumnetwork/node/files/6918004/Node_log_813.docx)

[2021-08-02 15:52] Serque commented on #3725
Sometimes i can't connect to node by windows app.

[2021-08-02 16:28] untitledlt commented on #3717
related: https://github.com/mysteriumnetwork/node/issues/3670

[2021-08-02 16:29] untitledlt commented on #3670
fixed in https://github.com/mysteriumnetwork/my.mysterium.network/pull/110

[2021-08-02 16:44] #3717 closed

[2021-08-02 16:54] untitledlt commented on #3679
fixed in https://github.com/mysteriumnetwork/my.mysterium.network/pull/109

[2021-08-02 16:54] #3679 closed

[2021-08-02 17:27] sohailshaikh333 commented on #3714
Yes it is still happening...

On Mon, 2 Aug 2021, 19:42 Arnaldas Augutis, ***@***.***>
wrote:

[2021-08-02 17:42] jimgreen2013 opened #3726 "Help Wanted! Which port should i open?"
I run the node on my vps in a data center, i'm so confused about how to config my firewall, please help and thanks in advance

[2021-08-02 18:12] Liten90 commented on #3670
all work, thx.

[2021-08-03 07:08] tomasmik commented on #3718
Testnet3 PPAs have been rebuilt to no longer include mmn3.mysterium.network

[2021-08-03 07:36] masterdot commented on #3720
I don't know why, but it did update now.
It's running now 0.53.0-1branch-testnet3-b-1

[2021-08-03 07:45] tomasmik commented on #3722
Configured on docker hub.

[2021-08-03 07:45] #3722 closed

[2021-08-03 08:19] tomasmik opened #3727 "Auto flag nodes with suspicious activity"
As it stands right now, it's becoming quite tedious to sift through the nodes and ban them all by hand. Most cheating comes in a few obvious to identify forms:
* Short sessions (1-5minutes) downloading 1-2GB of data, disconnecting when all free myst is spent and then repeating after a minute or so with a new identity.
* Short sessions with absurd prices per minute adjusted in the config (this will

[2021-08-03 08:28] tomasmik commented on #3726
The issue you're describing is not really clear enough to give you a clear answer.

Have a look at our docs:
- [Port forwarding]( https://docs.mysterium.network/node-runners/troubleshooting/#port-forwarding)
- [WireGuard service port configuration](https://docs.mysterium.network/resources/faq/#wireguard-service-port-configuration)

You can also search the docs for any additional information needed

[2021-08-03 08:28] #3726 closed

[2021-08-03 11:08] vkuznecovas opened #3730 "Bump hermes/transactor/discovery in e2e tests"
With move to k8s, cronjobs have been extracted for these services and they are run now in separate containers. Need to bump these services up to later versions in e2e to keep it up to date.

[2021-08-03 12:27] #3683 closed

[2021-08-03 18:23] sohailshaikh333 commented on #3714
Hello team any updates on it?

[2021-08-04 07:30] eugenegoncharuk commented on #3699
Update status nodes scheduled job has been fixed.
@untitledlt also fixed a problem on MMN side - Monitoring was returning 500 if not found and stopped us from trying another Monitoring agent from testnet3 or vice-versa.

[2021-08-04 07:30] #3699 closed

[2021-08-04 07:52] lollapalooza1973 commented on #3682
Still same issue
![image](https://user-images.githubusercontent.com/34000198/128143130-a37acdcd-4892-414b-8a52-5c2d98245590.png)

[2021-08-04 08:07] sj64 commented on #3656
Nightly: 25072021 desktop VPN
Node version 0.52.0-1branch-testnet3-b-1
WebUI version 0.4.0
Linux (Elementary 5.1.7 Hera)
Hosted Node: 0x199e0bb4faf2611c4b26ba06dbad850df982e406

Just noticing new issues, not sure if they relate to each other.

https://mmn3.mysterium.network/ has been unreachable for several days now - only displays "default backend - 404". NOT the usual 404 error page, seems to lo

[2021-08-04 09:37] untitledlt commented on #3714
@sohailshaikh333 should be fixed now. Please check let me know if everything is fine.

[2021-08-04 11:53] sohailshaikh333 commented on #3714
Hi Team,
Now on check connection I am not getting the message but when I am trying to connect to the node through mobile app it is not connecting to it and in quality column their is no signal as well. Why is it so? Please check this issue and let me know if I need to perform any steps to resolve it.

Thanks,
Sohail

[2021-08-04 13:57] Zensey opened #3734 "MacOS launcher"
Create a .dmg installer to install docker and node container

[2021-08-04 16:28] isaackielma opened #3735 "Nodes not displaying specific countries on MMN. Location Unknown"
**Describe the bug**
Nodes not displaying specific countries on MMN dashboard. Location Unknown is being displayed.

Paramba- 0xe974018de1605a366f9de33c74d32599009d7701  ——> USA
ABCMine- 0x65ee793880ca381ae3c7d00f09abfcaf2e954a5b ——> Russia
Sonu Adhikari- 0x3baabcea9723f7db82a9be1f1ce53021568d8ac4 ——> India

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MMN'
2. See on dashboard
3. Se

[2021-08-05 06:53] Serque commented on #3725
This issue has fixed in earlier version, but it has appeared in newer version of application.

[2021-08-05 07:29] isaackielma commented on #3735
@untitledlt Could you please take a look at this issue? Maybe you could help us 😊

Thank you, we appreciate your great work and skills! 🙏

[2021-08-05 07:59] s89b96 commented on #3735
Hello I have the same issue

Node : 0x0cc0f33da8568888f1f350857c2396f466989592

Recently set up my PI node
Location is showing as Unknown ( My location is Hong Kong )
Last seen time is incorrect
IP address is being shown with N/A on top of it - doesn't recognise as Residential
Connections amount are also low
![Screen Shot 2021-08-05 at 3 55 15 pm](https://user-images.githubusercontent.com/84949471

[2021-08-05 08:21] gantaaman007 commented on #3735
hello i have the same issue
here is the screenshot of it
my location is india and my node id: 0x8f58ba869ed672daaa06357a425c2dfcae9544a4
<img width="941" alt="Screenshot 2021-08-05 134709" src="https://user-images.githubusercontent.com/88482287/128317152-19a34a9d-e4ae-424f-af1e-121ab7bf6503.png">

[2021-08-05 09:21] tadaskay opened #3738 "CLI does not support spaces in arguments"
**Describe the bug**
CLI does not support spaces in arguments. When argument values contain spaces, CLI logic behaves unexpectedly.
The root cause is that arguments are split by spaces (`string.Fields`).
Due to this it's problematic to do an identity import/export because in most cases it will contain a space.

**To Reproduce**
Steps to reproduce the behavior:
1. `./static/bin/myst cli --tequilapi

[2021-08-05 09:37] untitledlt commented on #3708
should be fixed now

[2021-08-05 09:37] #3708 closed

[2021-08-05 09:43] untitledlt opened #3739 "not connecting to node and no signal in quality column"
when I am trying to connect to the node through mobile app it is not connecting to it and in quality column their is no signal as well. Why is it so? Please check this issue and let me know if I need to perform any steps to resolve it.

Thanks,
Sohail

_Originally posted by @sohailshaikh333 in https://github.com/mysteriumnetwork/node/issues/3714#issuecomment-892595237_

[2021-08-05 10:09] Zensey opened #3740 "Stale sessions"
**Describe the bug**
I have 2 stale sessions which are hanging for days and show no signs of stopping. There had no any traffic, but they increment total sessions time.

Restarting / upgrading node image did not help.

**Screenshots**
![Screenshot 2021-08-03 011147_](https://user-images.githubusercontent.com/769152/128332220-e763cf22-ae23-46ea-8ddb-609f6d8617cb.png)
![Screenshot 2021-08-03 011302_

[2021-08-05 10:16] sohailshaikh333 commented on #3739
Hi Team,
Any updates on this?

Thanks,
Sohail

[2021-08-05 10:27] Snawoot commented on #3687
Related fragment from runtime source:

[code]

It seems it panics on `throw("concurrent map writes")`. We should either protect map with mutex or ensure there are no concurrent use of Config instance.

[2021-08-05 11:30] #3730 closed

[2021-08-05 12:28] #3738 closed

[2021-08-05 15:27] dkmatthew commented on #3735
Just started second node 0xfc739fea45be18917ed1a566d852dbf95fff59af on residental IP from RU country and have same problem
In https://www.maxmind.com/en/geoip-demo
I Have right country RU
and in https://www.ip2location.com/demo
i have right ISP IP
In MMN i have "Unknown" country and "N/A" type of address
Thats why I dont display in dVPN app tu users and have no any sessions now

[2021-08-05 16:26] Snawoot commented on #3709
Consumer side done, only part on discovery server is remaining. Reassigning to @soffokl

[2021-08-05 16:37] #3720 closed

[2021-08-05 21:21] sohailshaikh333 commented on #3739
Hello team,
Today when I clicked on check connection it's saying No active services found. Please help to resolve this issues it's been a long time this issue is stretched.

Thanks,
Sohail

[2021-08-06 02:37] marvz702 commented on #3656
Hi Guys,

I updated my node and I was on Step 4 and this is what came up:

sudo apt install myst=0.52.0+1branch+testnet3+b+1+build341085458+focal
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Version '0.52.0+1branch+testnet3+b+1+build341085458+focal' for 'myst' was not found

So I thought to restart the node and my node is still showing as 0.52 but I g

[2021-08-06 03:39] sohailshaikh333 commented on #3739
Hi Team,
Today the check connection is working fine I am getting the message "Wireguard connection queued" so that issues seemed to be resolved but the main issue is still their the node connection issue and the network quality says it has no network, that issue is still their. Please help to resolve it.

Thanks,
Sohail